[2016-12-01 17:48] jcexygy commented on #433
@rayrutjes The problem I experienced was that when I changed the Index name prefix, that change didn't get reflected in the WordPress database (within the wp_options table). When I re-indexed everything, the index names were changed on the Algolia end, but then on the WordPress site the autocomplete was still referencing the old index names and thus not finding any results, and giving lots of java

[2016-12-01 21:12] jimbo11883 opened #446 "Filters are Failing"
### What did you expect to happen?
The filter would return the post.

### What happened instead?
Missing argument 2 for cj_should_index_post.

### How can we reproduce this behavior?
add_filter('algolia_should_index_post', 'cj_should_index_post');
add_filter('algolia_should_index_searchable_post', 'cj_should_index_post');
function cj_should_index_post($should_index, $post) {
}

### Technical info

[2016-12-02 08:53] rayrutjes commented on #446
Hi @jimbo11883 ,

When you require more than 1 parameter, you need to specify it explicitly:

[code]

Now yous should correctly get the second parameter.

[2016-12-02 08:57] rayrutjes commented on #433
In your case it seems you have an option inconsistency indeed.
Are you using some kind of caching plugin?

[2016-12-02 09:26] royduin commented on #443
I've experienced the same with Roots Sage: https://github.com/roots/sage, so I've copied the `instantsearch.php` file to `algolia/instantsearch.php` in my theme and removed the `get_header()` and `get_footer()` functions.

[2016-12-02 09:41] royduin opened #448 "Feature request: choose which refinement widgets should be displayed"
Currently there are four refinement widgets on the instantsearch page:

- Post Type
- Categories
- Tags
- Authors

It would be nice if these can be enabled/disabled from the configuration page in the Wordpress admin.

[2016-12-02 09:44] rayrutjes commented on #448
Yes, you are right.

We are afraid this would add complexity for customizing the file.

We are not sure where to go about this and are still receiving feedback.

Enabling / Disabling those widgets is rather easy currently, but of course limite to users having access to the filesystem.

Let me know your thought.

[2016-12-02 09:47] rayrutjes commented on #443
Currently we inject the "algolia" variable holding all the config in the footer. We also inject autocomplete templates in the footer. We could probably try to make thos injected in the head somehow to resolve the issue.

[2016-12-02 09:59] royduin commented on #448
I've copied the `instantsearch.php` to my theme, removed the widgets I don't need and that's working great. But there are a lot of Wordpress users who can't code, they just install a plugin and if it's not working they'll search for a alternative plugin. For those users I think this is helpful.

For me as developer: the less changes in the `instantsearch.php` the better because everytime there is

[2016-12-02 10:01] royduin commented on #443
Most themes are using the `get_footer()` function, just like Roots Sage: https://github.com/roots/sage/blob/953a8ab5d63b5f484da5b6fbef155aa22bc2effa/templates/layouts/base.php#L29, but not in individual templates. They've created a wrapper which is used by all the templates.

[2016-12-02 10:03] rayrutjes commented on #448
Yes you make some points there for sure.
Making the plugin simple for both developers and non technical users is a big challenge.

I will definitely challenge the idea, let me come back to this in a bit.

Also as we are working on the WooCommerce integration, we already have some topics that would need to be addressed in this plugin.

[2016-12-02 10:05] rayrutjes commented on #443
I need to test putting all the code in the header again. Or find a way to detect if the footer function is there and otherwise render in the header.

Not sure why we decided to put some info there, but I'm pretty sure we had our reasons.

[2016-12-02 10:10] royduin opened #449 "Remove Algolia Powered By with true?"
It's currently possible to remove the Algolia Powered By message with: `define('ALGOLIA_POWERED_BY', true);`, that's a little bit weird right? Should we rename this (to `REMOVE_ALGOLIA_POWERED_BY` for example) or make it configurable from the admin? There is already some code for that: https://github.com/algolia/algoliasearch-wordpress/blob/f642915bb35372aff509c6219da5b0ea95677696/includes/class-a

[2016-12-02 10:13] rayrutjes commented on #449
This has been discussed here #333
As we will cleanup the admin UX after the WooCommerce plugin release, we might want to consider this again.

[2016-12-02 10:17] royduin commented on #449
I came across that issue but it was closed and didn't answer my questions. Keep this issue open for discussion?

[2016-12-02 10:21] rayrutjes commented on #449
Yes @royduin lets leave it open, I'll deal with it when we re-brand the admin.
Thanks ❤️ !

[2016-12-02 13:17] jimbo11883 commented on #446
Thanks Ray! I feel like such an idiot...

[2016-12-02 13:17] #446 closed

[2016-12-02 15:25] jcexygy commented on #433
Yes, we are on WP Engine, so we're using their caching system, including
object caching. I cleared the object cache, but that didn't help - the
values in the database were still using the old prefix.

On Fri, Dec 2, 2016 at 3:57 AM, Raymond Rutjes <notifications@github.com>
wrote:

--

[image: Exygy] <http://www.exygy.com>

Justin Carboneau

Happiness Engineer

919-808-2724 | www.exygy.com

2601 M

[2016-12-02 15:57] rayrutjes commented on #433
I will make it so that when we the prefix changes we re-index instead of moving the indices. Once we are there, I'd love to know if the problem persists for you.

[2016-12-02 16:39] jcexygy commented on #433
Thanks - also I just remembered that the issue also happened on my dev
site, which doesn't use any type of caching.

On Fri, Dec 2, 2016 at 10:57 AM, Raymond Rutjes <notifications@github.com>
wrote:

--

[image: Exygy] <http://www.exygy.com>

Justin Carboneau

Happiness Engineer

919-808-2724 | www.exygy.com

2601 Mission Street, Suite 300 San Francisco, CA 94110

[image: Facebook] <https://www.fa

[2016-12-02 21:45] jimbo11883 opened #450 "One of my indexes aren't showing results in Autocomplete, but show in native search"
### What did you expect to happen?
Seeing results in autocomplete.

### What happened instead?
With the newest version of the WP plugin, we see that the 'plants' index isn't showing results.

### How can we reproduce this behavior?
Go to our site, click the search magnification icon in the header. Type in 'aloe' and you should see multiple results for "Plants" but we no longer see them.

### Can y

[2016-12-02 21:50] jimbo11883 commented on #450
I also get this javascript error:

VM4311:23 Uncaught TypeError: Cannot read property 'matchedWords' of undefined(…)
(anonymous function) @ VM4311:23
c @ underscore.min.js?x34027:5
(anonymous function) @ wp-util.min.js?x34027:1
a @ autocomplete.min.js?x34027:7
y.map @ autocomplete.min.js?x34027:6
d @ autocomplete.min.js?x34027:7
_render @ autocomplete.min.js?x34027:7
b @ autocomplete.min.js?x34027

[2016-12-03 04:07] dfhemenway commented on #418
Nevermind. Your help is no longer needed, as the function is working ok
now. I think it may be due to changes made by tech-support from WP Google
Maps. Their plugin stopped working when yours was installed. I gave them
Admin access and they went into it and got it working again. They said:
"It appears the developers overlooked a few runtime checks which are
causing conflicts. I have resolved this

[2016-12-03 12:01] rayrutjes commented on #418
Thanks for the feedback @dfhemenway , Do you mind posting the missing "runtime checks" here so that other users can benefit from it?

Best

[2016-12-03 12:19] rayrutjes commented on #450
Hey @jimbo11883 !

Thanks for reporting this, it looks like you pushed custom attributes, and you also removed the default 'title1-6' fields.

In our default logic we check those fields to display the most relevant one. In your case the fields do not exist as your remove the fields for the attributes from indexing.

Is there a specific reason for which you decided to remove the title1-6 fields?

W

[2016-12-03 12:21] rayrutjes commented on #443
Maybe we also used this thinking it resolves the autocomplete library conflicts with other libraries like jquery ui autocomplete and google map autocomplete.

Maybe it is also a good opportunity to fix those conflicts.

[2016-12-03 12:25] rayrutjes commented on #450
For now you can fix it manually by making sure value is not undefined here: https://github.com/algolia/algoliasearch-wordpress/blob/master/templates/autocomplete.php#L22

And here:
https://github.com/algolia/algoliasearch-wordpress/blob/master/templates/autocomplete.php#L25

Let me know if that works!

[2016-12-03 12:55] jimbo11883 commented on #450
I didn't know what the titles fields were used for, but they always seemed
to be blank. So I thought they were not needed. I'll edit my code again to
put them back in.

On Sat, Dec 3, 2016, 7:25 AM Raymond Rutjes <notifications@github.com>
wrote:

[2016-12-03 13:18] rayrutjes commented on #450
We split the posts according to the DOM of the content.
The we requesting results, we only ask for the most relevant record per post, this is possible thanks to the distinct feature being enabled on the index.

This strategy ensures optimal relevancy ;)

I will still make sure the fields are present before trying to display them.

[2016-12-03 13:25] jimbo11883 commented on #450
We have Types custom fields that aren't in the_content. How can we get them to display in the search results?

[2016-12-03 13:58] rayrutjes commented on #450
You can add them to the `autocomplete.php` file,

Could you give some code so that I can give you clearer indications? Not sure I answered your question here.

[2016-12-03 15:17] dfhemenway commented on #418
I wouldn't mind but I don't know what to post. I told you what they told
me.

On Sat, Dec 3, 2016 at 7:01 AM Raymond Rutjes <notifications@github.com>
wrote:

[2016-12-03 15:31] rayrutjes commented on #418
Is there any chance you ask them what they changed to make it work?

[2016-12-03 16:20] dfhemenway commented on #418
I'll ask.

On Sat, Dec 3, 2016 at 10:31 AM Raymond Rutjes <notifications@github.com>
wrote:

[2016-12-05 13:44] jimbo11883 commented on #450
I found algolia-autocomplete-post-suggestion.php, in the plugins partials folder. Can I copy this to my theme and make changes? What directory structure do I need in my theme?

[2016-12-05 13:51] rayrutjes commented on #450
You cant only override the full files:
- autocomplete.php
- instantsearch.php

You have to copy paste those files in a folder named `algolia` in your active theme
Then they should be loaded instead of the plugin's ones.

We will improve this part in the future. For now this is the way to go.

[2016-12-05 14:15] dfhemenway commented on #418
Raymond,

Here's what I got back from the folks at WP Google Maps:

Hi Don,

Only a pleasure, so glad to hear this helped!

I am happy to provide you with the checks/changes I made.

As mentioned earlier there was a 'hits' is undefined error showing up in
the console. This was due to the function they are trying to call (within
JavaScript) not being available/ready.

I resolved this by wrapping th

[2016-12-05 14:20] rayrutjes commented on #418
Thanks @dfhemenway for getting this info back to us.
We are going to make sure we add the checks in the upcoming release.

[2016-12-05 15:06] dfhemenway commented on #418
You are very welcome. I'm glad it will be of help.

On Mon, Dec 5, 2016 at 9:20 AM, Raymond Rutjes <notifications@github.com>
wrote:

[2016-12-05 16:04] #450 closed

[2016-12-05 16:44] rayrutjes opened #451 "Make sure fields are available in templates before using them"
In autocomplete.php and instantsearch.php we assume that fields are existing.

We should make sure they are not undefined (removed from indexing) on the fly to not break the UI.

[2016-12-05 19:54] #384 closed

[2016-12-05 21:35] rayrutjes commented on #420
I started working on the introduction of a new constant to handle this and realized that it could get a bit complex in case you use `replicas`.

Indeed, the question would then be do we also keep the settings of replicas?

@Cyapow I agree that we should not override synonyms by default, because the Algolia dashboard is more convenient to manage those.
Regarding the other ranking settings, is there

[2016-12-05 22:35] rayrutjes commented on #420
I made sure we keep synonyms if none provided from the WordPress side in #453 .

This is a first step that I will push as part of 1.6.0 because it really makes sense.

I'm looking forward for your feedback regarding the custom settings related to ranking. I'm afraid any kind of "merging" strategy will be hard to debug and understand for users, and we definitely need WordPress to be the owner of th

[2016-12-05 22:37] #420 closed

[2016-12-06 15:49] insanetisane opened #454 "Conflict with WPML"
### What did you expect to happen?
When I save a translated post, it saves properly.

### What happened instead?
When I save a translated post, the translation data is not saved in the database. The pages are disconnected (they no longer relate as one being a translation of the other)

### How can we reproduce this behavior?
Create a translation of a page, then try to edit it.

### Technical info

[2016-12-06 15:57] rayrutjes commented on #454
Thanks a lot @insanetisane for submitting this here,

We will investigate this right now as this looks similar to the Publicize feature from Jetpack conflict.

Do you mind sending me over the version of WPML plugin you are using so that we can resolve the conflict? please send it to support+wordpress@agolia.com

[2016-12-06 16:23] insanetisane commented on #454
Hey Raymond, Thanks for looking into this.

WPML version: 3.6.1

Also here is an error showing up in the logs:

PHP Fatal error: Uncaught exception 'InvalidArgumentException' with message 'No translation entry found for query: s:42:" element_id = %d AND element_type LIKE %s ";a:2:{i:0;i:32546;i:1;s:18:"post_algolia_task%";}' in /nas/content/live/abtrogers/wp-content/plugins/wpml-translation-manage

[2016-12-07 10:09] rayrutjes opened #455 "Allow to re-push settings for a given index or all indices"
Currently if a user tweaks the settings, he needs to re-index everything.
It would be better if the user could only re-push the settings.

[2016-12-07 11:57] #442 closed

[2016-12-07 11:58] rayrutjes commented on #433
1.6.0 will be released. I think that your issue was related to the fact that we moved indices.
Please stay tuned for the new release and give it a try.

Feel free to re-open an issue if the problem persists.

[2016-12-07 11:58] #433 closed

[2016-12-07 21:27] rayrutjes opened #459 "Test plugin under WordPress 4.7"
Make sure the plugin works properly under 4.7 and update the readme to add support.

[2016-12-09 00:07] Cyapow commented on #420
@rayrutjes this may work mate. I hadn't seen the WP filters. I will take a look.

Thanks

[2016-12-12 17:23] #449 closed

[2016-12-13 19:25] ethansmith commented on #149
@raymond, it took a while for me to finally follow through on this, but yes, your fix worked. Thanks!

[2016-12-14 16:30] rayrutjes opened #461 "Use the new autocomplete.noConflict feature"

[2016-12-14 19:13] rayrutjes opened #463 "No Cookies on WP Engine"
It looks like some users are experiencing difficulties with wp_remote_post because we are unable to fetch the $_COOKIES in WP Engine's environment.

https://wordpress.org/support/topic/_serverhttp_referer-and-wordpress-multisite/

[2016-12-15 13:56] rayrutjes commented on #463
The problem is not the one described but is simply linked to the fact that on the indexing screen, the test `wp_remote_post` call is done without taking care of adding the Cookies.

We should make sure to use the same request_args for both queries.

[2016-12-19 23:28] peterchen1999 opened #464 "Change index to posts_attachments"
### What did you expect to happen?
After changing the index by changing this block:

var search = instantsearch({
appId: algolia.application_id,
apiKey: algolia.search_api_key,
indexName: algolia.indices.posts_attachment.name,

I was changing the index at which the search box is polling from. Expected behavior is to show the media thumbnails.

### What happened instead?
It seems to be "working" bu

[2016-12-21 14:23] rayrutjes commented on #464
Hi @peterchen1999 ,

By analyzing the console errors on your example implementation, it appears to me that the image urls are not correctly generated for the posts_attachment index.

In the answer you get back from Algolia, there is a field you might use to reconstruct the urls:
[code]

You should take a look at how to customize the search page experience here: https://community.algolia.com/wordpr

[2016-12-21 22:16] peterchen1999 commented on #464
Hey @rayrutjes,

I changed the referral URL to that of post-thumbnail but it still doesn't seem to want to work. Do you have any thoughts as to what might be going wrong? I'm unsure if it's even going into the L22 if statement.

[2016-12-22 11:05] Ben764 opened #466 "Toolset plugin conflicting with Algoliasearch-wordpress"
### What did you expect to happen?
Algoliasearch-wordpress is setup do index posts, pages, and a custom post type.

### What happened instead?
Algolia didn't complete indexing. In the Algolia backend I only found a searchable_posts_tmp index.
### How can we reproduce this behavior?
I only find this behavior when Toolset plugins (Types/Views) are installed. I tested the same data on a installation

[2016-12-22 14:40] rayrutjes commented on #466
Hi @Ben764 thanks for reporting this, I will look into it.
Looks like some kind of conflict with the `Toolset plugins (Types/Views) ` plugin.

[2016-12-22 14:41] rayrutjes commented on #464
@peterchen1999 well I consider this as a bug, I expected the thumbnail field to be provided during indexing. Truth is, so far we haven't had any feedback on this.

I will need to spend some time figuring out what goes wrong during the thumbnail generation.

[2016-12-23 00:03] rayrutjes commented on #365
According to Elegant Theme, the Divi theme is greatly dependent on the frontend lifecycle and there is no easy way to replace shortcodes with the real content if it is not for rendering.

Unless Divi theme makes it easier for external plugins to register the shortcodes programatically, I see no easy way to resolve this issue.

Closing this for now, but I of course stay open to suggestions ;)

[2016-12-23 00:03] #365 closed

[2016-12-23 13:52] rayrutjes opened #467 "wp.template is undefined in autocomplete.php"
Sometimes wp-utils is not loaded before the actual DOM is ready which leads to `wp.template is undefined in autocomplete.php`.

We should make sure wp-utils is loaded prior to autocomplete.php injection in the footer.

[2016-12-23 17:12] rayrutjes commented on #352
We will remove the backward compatibility checks currently in place in a future release as there is no hurry.

[2016-12-23 17:13] rayrutjes commented on #451
Given the current template is already bloated, we should suggest users override the default template instead.

[2016-12-23 17:13] #451 closed

[2016-12-23 17:17] rayrutjes commented on #454
Hey @insanetisane , could you check if this still happens with the latest version 3.6.2?

It looks like there are some fixes that might be related to this issue: https://wpml.org/2016/12/wpml-3-6-2-stability-compatibility-improvements/

I'm closing this, please re-open if 3.6.2 doesn't fix the issue and I'll investigate more in depth!

Thanks a lot for reporting this in the first place ❤️

[2016-12-23 17:20] rayrutjes commented on #268
Hey @ddibiase, we now have a WooCommerce integration currently in private Beta.
If you haven't received your copy yet, please ask for it on https://discourse.algolia.com/ and I'll DM you a copy.

[2016-12-23 17:20] #268 closed

[2016-12-23 17:30] insanetisane commented on #454
Hey Ray,
We updated all of our WPML plugins when they were released and unfortunately this issue still persists. I was hoping it would be resolved too 😛

[2016-12-23 17:36] rayrutjes commented on #454
Then I'm re-opening. I'll need to test it.
The weird thing being that a lot of users do not have the issue, so I'm wondering if it's related to the latests versions of the plugin or if it is a conflict with something else.

Thanks you for your patience.

[2016-12-23 17:38] insanetisane commented on #454
That is weird… I’ll see if I can do more testing on our end as well. Thanks for your help!

[2016-12-28 11:26] filontheroad opened #468 "Wordpress Search is not replaced / Autocomplete is not working"
### What did you expect to happen?

I followed the install instructions for the plugin step by step and I expect the plugin to replace the standard search function of Wordpress as announced.

### What happened instead?
The Search is not replaced and does not even work anymore after activating the plugin. Also it seems to interfere with the Plugin "All in One Security & Firewall" as I had to deacti

[2016-12-28 12:19] filontheroad commented on #468
Hello Raymond,

thanks for your quick reply.

Well there are a few error messages showing up as you can see in the
attached screenshot:

You need any of the detailed data?

Best regards,
Fil

[2016-12-28 12:19] filontheroad commented on #468
P.S. Also the site runs on https

Raymond Rutjes schrieb:

[2016-12-28 12:27] rayrutjes commented on #468
@filontheroad I can't see the screenshots, can you paste theme directly on the issue maybe?

[2016-12-28 12:40] filontheroad commented on #468
![bildschirmfoto 2016-12-28 um 13 17 26](https://cloud.githubusercontent.com/assets/4562487/21522117/2fe963fc-cd03-11e6-9386-c4aa49a290e0.png)
This is the overview

[2016-12-28 12:42] rayrutjes commented on #468
Could you give us the details of the task 12135?

[2016-12-28 12:51] filontheroad commented on #468
I can send you the log as attached file hereby.
[log12135.txt](https://github.com/algolia/algoliasearch-wordpress/files/675571/log12135.txt)

[2016-12-29 16:42] filontheroad commented on #468
@rayrutjes Did you get the log file? Any solution you recommend?

[2017-01-03 10:47] rayrutjes opened #469 "Recommend extension for accessing PHP error logs"
https://wordpress.org/plugins/error-log-monitor/

[2017-01-03 11:19] #469 closed

[2017-01-03 11:39] #352 closed

[2017-01-03 11:39] #459 closed

[2017-01-03 11:39] #461 closed

[2017-01-03 11:39] #463 closed

[2017-01-03 11:40] rayrutjes commented on #372
A fix for this has just been merged: #465
Will be released under 1.7.0 tag.

[2017-01-03 11:40] #372 closed

[2017-01-03 11:43] rayrutjes commented on #392
Let's wait our community pages reviews for this!

[2017-01-03 11:43] #392 closed

[2017-01-03 11:44] rayrutjes commented on #418
This should be fixed in #465
Thanks again @dfhemenway

[2017-01-03 11:44] #418 closed

[2017-01-03 13:29] dfhemenway commented on #418
I stopped using Algolia weeks ago. Please take me off your email list.

On Tue, Jan 3, 2017 at 6:44 AM Raymond Rutjes <notifications@github.com>
wrote:

[2017-01-03 21:23] rayrutjes opened #474 "Remove sensible information from logs"
We should make sure logs do not contain sensible informations.

[2017-01-05 21:59] tedcarstensen opened #477 "Results strip final child category from URL"
### What did you expect to happen?

Our site combines parent and child categories to build urls. For example, a single episode of a single podcast has a url like this - https://www.heavybit.com/library/podcasts/practical-product/ep-7-digital-dev-at-blue-bottle-coffee/

Library, Podcasts, and Practical Product are all categories.

When using default Wordpress search, the URLs returned reflect all p

[2017-01-06 09:21] rayrutjes commented on #477
Hi @tedcarstensen , thanks a lot for spotting this.
I think this might be what we call a bug!

Here are the 2 lines that needs to be modified:
- https://github.com/algolia/algoliasearch-wordpress/blob/master/includes/indices/class-algolia-searchable-posts-index.php#L188
- https://github.com/algolia/algoliasearch-wordpress/blob/master/includes/indices/class-algolia-posts-index.php#L180

I believe w

[2017-01-06 09:38] rayrutjes commented on #477
@tedcarstensen I just investigated but didn't manage to re-produce this one.

Can you tell me for http://dev-heavybit.pantheonsite.io/library/podcasts/data-science-storytime/ep-3-the-future-of-data/:
- What categories are associated to this post? (screenshot of the post in edit mode with visible categories on the right appreciated)
- What is the configuration of your permalinks (screenshot of the

[2017-01-06 19:48] insanetisane commented on #454
There seems to be an issue now on the same site. Algolia has stopped logging all category, tag, and custom taxonomy data just for our french custom post types.

This was working up until recently. Neither algolia nor WPML was update between when it was working and now.

Any ideas?

[2017-01-07 09:21] rayrutjes commented on #467
Fixed in #479

[2017-01-07 09:21] #467 closed

[2017-01-12 09:44] rayrutjes opened #480 "Make wp-util a dependency of the algoliasearch-client"
Given the recent issue related to wp.template not being available, we might consider making wp-util a dependency of algolliasearch:

[code]

[2017-01-12 10:05] #480 closed

[2017-01-12 16:39] rayrutjes commented on #454
@insanetisane after investigation, I confirm that the `terms` are only being fetched correctly for the default language.

I tried patching the code with the techniques found here, with no luck: https://wpml.org/forums/topic/get-all-terms-of-all-languages-outside-loop/

The last comment of that page si interesting is is exactly what we are running into as well.

The objective? Being able to load th

[2017-01-12 16:43] rayrutjes commented on #454
This also seems to be somehow related: https://wpml.org/forums/topic/remove-get_terms-filters/

In our code, here is what doesn't work as expected: https://github.com/algolia/algoliasearch-wordpress/blob/master/includes/indices/class-algolia-searchable-posts-index.php#L197

[2017-01-13 14:14] rayrutjes commented on #477
@tedcarstensen do you think you could take a quick look into this anytime soon?

[2017-01-14 03:33] tedcarstensen commented on #477
@rayrutjes Damn, apologies Ray, my notification settings weren't set up correctly.

### What categories are associated with this post?

This post - http://dev-heavybit.pantheonsite.io/library/podcasts/data-science-storytime/ep-3-the-future-of-data/ -  has three categories: Library, Podcasts, Data Science Storytime

![post-categories](https://cloud.githubusercontent.com/assets/1002132/21951939/89c6

[2017-01-14 11:56] #477 closed

[2017-01-14 11:59] rayrutjes commented on #477
Good news @tedcarstensen , the YOAST plugin is so well designed that this was an easy fix.
We even decided to integrate it out of the box given the popularity of the plugin.

This will be available in version 1.7.0, if you want to use it straight away, apply the patch from here: #485

Thanks for your help on this!

[2017-01-16 15:58] kakashigr opened #487 "Search Results page not showing all posts"
We are using a custom pre_get_posts filter for our search results which
changes the posts_per_page to 12 instead of the default 6 we have configured on wordpress:
[code]

We noticed that this filter doesn't work with algolia plugin installed and activated,
which means the plugin is also hooking there overwriting us.

We also use these two filters specific to algolia:
[code]
When the plugin is acti

[2017-01-16 17:26] rayrutjes opened #488 "Synonyms are lost on re-index"
It appears that synonyms still get lost on full re-index.

[2017-01-16 17:28] rayrutjes commented on #487
Hi @kakashigr , we indeed override the described hooks. I will need to dig into this a bit further to give you clear guidelines.

Do you mind formatting the code above in the meantime?

[2017-01-16 17:29] rayrutjes commented on #468
Sorry about the delay here @filontheroad ,

Did you manage to get it running?

Where did you send the file?

[2017-01-16 17:31] rayrutjes commented on #443
Given that including a call to `wp_footer` is part of the [theme best practices](https://codex.wordpress.org/Theme_Development#Footer_.28footer.php.29) we will not try to work around this.

[2017-01-16 17:31] #443 closed

[2017-01-16 17:41] filontheroad commented on #468
Hello,

I had posted it on the thread here. Since I haven´t heard back from you
I deleted it again. No it is stil not running as it should.

Raymond Rutjes schrieb:

[2017-01-16 17:42] rayrutjes commented on #468
i'm sorry to hear that. It looks like though that there is nothing attached to your last answer. Do you mind attaching it directly to the GH issue?

[2017-01-16 18:05] filontheroad commented on #468
Here it is
[log.txt](https://github.com/algolia/algoliasearch-wordpress/files/709117/log.txt)

[2017-01-16 19:57] insanetisane commented on #454
I'm taking a look at the code and the get_post_shared_attributes function works out of the context of the plugin. I copied it, pasted in functions.php, renamed the function and passed it a post. I get the french categories and tags on the english pages. Could it be something else?

[2017-01-17 10:00] rayrutjes commented on #468
@filontheroad it looks like the logs you sent me were about the search not being able to access a given index. Could you please send me the logs of a task of type "An error occured while handling..."? Please send those logs to support+wordpress@algolia.com

Thanks for your patience.

[2017-01-17 11:06] filontheroad commented on #468
@rayrutjes Okay send

[2017-01-17 18:23] insanetisane commented on #454
I've manage to patch a fix:
[code]

This removes some WPML filters that are getting in the way and checks for terms with the filters removed. Seems to work so far!

[2017-01-20 11:21] enikolov15 commented on #373
Hi Rayrutjes,
Talking for the indexing issues, how can I add a database table of a WP pluging like wpForo to be indexed by algolia? So that algolia will show results from our forum posts?

Also is there any way to limit the search results to not show password-protected pages if not logged-in (pages that require login)?
Our website with algolia: http://glue42.com/
Best regards,
Emil

[2017-01-20 12:35] rayrutjes commented on #373
Hi @enikolov15
This plugin is intended for getting you up and running quickly by indexing the post types.

If you want to go further and do a custom implementation, you could directly use the [PHP API Client](https://github.com/algolia/algoliasearch-client-php).

In the plugin, by default, according to [this part](https://github.com/algolia/algoliasearch-wordpress/blob/develop/includes/indices/cla

[2017-01-20 13:03] enikolov15 commented on #373
Thank you, Rayrutjes!
For the first I will ask for a dev to implement it (I'm just a product manager).
For the "not index password protected pages" - in our case it indexed them. I deleted the pages index and reindexed everything and algolia by default is showing again content from password protected pages (of course when one tries opening the page he is asked to login). Please see a screenshot of

[2017-01-20 13:13] rayrutjes opened #490 "Password protected pages seems to be indexed"
It looks like the following condition can be valid even if a password is present.
https://github.com/algolia/algoliasearch-wordpress/blob/develop/includes/indices/class-algolia-searchable-posts-index.php#L70

Let's make sure the content of those pages is not indexed.

[2017-01-20 13:15] rayrutjes commented on #373
@enikolov15
I opened an issue [here](https://github.com/algolia/algoliasearch-wordpress/issues/490) to make sure we don't index those pages.

Did your developer already use some custom filters we provide that would explain that those pages gets indexed?

Tell your developer to not hesitate to reach out to find the easiest way to couple the website to Algolia.

[2017-01-20 15:49] rayrutjes opened #491 "Do not override index settings once it exists"
To let users be able to fine tune the relvancy of the Algolia indices straight from the dashboard, we will implement the following:

- When the index doesn't exist and is first created by WordPress, we will push the default settings like we currently do
- From the moment that the index exists, we will actually re-push the production settings

[2017-01-20 15:51] rayrutjes opened #492 "Simplify the post splitting feature if possible"
Given users will want to fine tune the relevancy and other settings from the Algolia dashboard like explained here #491 , we will need to make the post splitting feature less hard to decrypt.

This is also a good occasion to simplify the instantsearch & autocomplete.php templates and remove the logic consisting of displaying the most relevant snippet for the content.

[2017-01-23 09:19] rayrutjes opened #493 "Remove empty arrays from Algolia records"

[2017-01-23 14:17] hellohereiam commented on #365
My idea would be to add an option to your plugin to str_replace known shortcodes from popular builders such as divi builder. I know it would be better if this was taken care of from eleent themes side, but as they don't seeming to move on the issue, this might be a nice intermediate solution that should be fairly easy to integrate.

Best, T

[2017-01-23 15:38] rayrutjes commented on #365
@hellohereiam that'd be awesome,

Feel free to submit a PR if you feel confortable doing so.

[2017-01-23 21:18] hellohereiam commented on #365
@rayrutjes ok, I have added a simple regular expression here #494. This is tested on support.wrklst.com and seems to work fine. I don't think it is in conflict with anything else and could easily be extended to other visual builders.

I hope I did the whole PR thing correctly, as this was my first time creating a PR.

Let me know what you think.

[2017-01-23 21:32] rayrutjes commented on #365
First off all thanks a lot for putting this together @hellohereiam !
The concern I have is that your solution removes the shortcodes but doesn't replace them with the actual content. This means that the underlying content doesn't get indexed and that is a big issue for users putting a lot of content behind Divi shortcodes.

Do you maybe have a clue on how we could replace those shortcodes with the

[2017-01-23 21:42] hellohereiam commented on #365
I am not sure I understand. I have tried this and just getting rid of the short codes will still index the content. The short codes are encapsulating the textual content for styling, so the actual content text is still within the content and not referenced through shortcodes – or am I missing something? This is at least true for my test page at https://support.wrklst.com where I have the modified

[2017-01-23 23:21] nathanielks opened #495 "Indexing queue stuck on Idle"
### What did you expect to happen?

The queue remain in the "Running" state, posts be indexed, and have the results displayed in Algolia's admin.

### What happened instead?

The queue runs for a moment, then switched back to "Idle" with a pending task in the queue.

### How can we reproduce this behavior?

Unfortunately, I'm not entirely sure. I installed this in a production-like environment (co

[2017-01-23 23:22] nathanielks commented on #495
Hitting the "Process Queue" button doesn't do anything either.

[2017-01-23 23:23] nathanielks commented on #495
Rather, it doesn't help. It just repeats the same behavior described above.

[2017-01-24 00:03] nathanielks commented on #495
Excuse me, I thought PHP error logs were empty but it appears there's an issue with `is_file()`.

[2017-01-24 00:30] nathanielks commented on #495
Here's a gist of what we have of the log, unfortunately it's not too much but it's something:

https://gist.github.com/nathanielks/2bc6a2435d7d603756967d0bce06383c

It appears `Algolia_Posts_Index` and `Algolia_Searchable_Posts_Index` are calling the [`simple_html_dom`](https://github.com/algolia/algoliasearch-wordpress/blob/9519a55d0a41e6f14942e7afe1d758d16e059162/includes/libraries/php-dom-parse

[2017-01-25 18:06] ethansmith opened #496 "Reindex when term name changes"
### What did you expect to happen?

All posts connected to a taxonomy term are automatically reindexed when that term's name is changed.

### What happened instead?

No reindexing.

### How can we reproduce this behavior?

Create a term, connect a post to that term, edit the term's name.

Can you provide a link to a page which shows this issue?

### Technical info
* WordPress version: 4.7.1
* Algo

[2017-01-26 10:31] rayrutjes commented on #496
Hi @ethansmith ,

You are right, we currently do not plan to support this and recommend you do a full re-index after such changes.

[2017-01-27 20:29] Spone opened #497 "Index position not taken into account?"
### What did you expect to happen?

In autocomplete, I want to reorder my indices based on their `position` value.

I'm adding specific indices (coming from outside Wordpress) to my autocomplete results, this way:

[code]

### What happened instead?

The added indices are shown at the end of the autocomplete dropdown menu. It's like `position` is not taken into account.

### How can we reproduce t

[2017-01-30 10:53] Spone opened #499 "How to create a "composite" index (Pages + Custom Post Types)"
Hello,

I'd like to create an index which would contain my Pages and a few Custom Post Types (whose content is similar to Pages). How can I set this up?

Thanks in advance.

[2017-01-30 11:04] Spone commented on #497
I managed to make it work by re-sorting the array in my filter:

[code]

Is it the recommended way to do it?

[2017-01-30 11:08] rayrutjes commented on #497
Hi @Spone ,

You can use the `algolia_autocomplete_config` instead which will ensure the sources are sorted according to the `position` value: https://github.com/algolia/algoliasearch-wordpress/blob/develop/includes/class-algolia-autocomplete-config.php#L122

I hope that helps, thanks for reaching out ;)

[2017-01-30 11:12] rayrutjes commented on #499
It depends on what you currently use. If you are already using the "searchable posts" index for an other purpose, you could try duplicating the class and fine tune it: https://github.com/algolia/algoliasearch-wordpress/blob/develop/includes/indices/class-algolia-searchable-posts-index.php

You will need to register it with the filter `algolia_indices` see https://github.com/algolia/algoliasearch-w

[2017-01-30 11:13] rayrutjes commented on #496
I'm closing this for now, if you think you have a pragmatic and simple way to resolve this, I'd gladly take  look!

[2017-01-30 11:13] #496 closed

[2017-01-30 11:23] Spone commented on #497
Thanks @rayrutjes

So here is the final snippet:

[code]

[2017-01-30 11:23] #497 closed

[2017-01-30 11:29] rayrutjes commented on #495
This is definitely a bug in the underlying dom lib. I opened a ticket here: https://github.com/algolia/php-dom-parser/issues/9 and will make sure to ship a fix as fast as possible.

In the meantime, you can comment some lines in that lib by following this example: https://github.com/algolia/php-dom-parser/pull/10

Let me know if that works.

[2017-01-30 11:32] rayrutjes commented on #497
Thanks for sharing that @Spone 👍

[2017-01-30 11:51] #495 closed

[2017-01-30 11:52] rayrutjes commented on #495
This has now been merged in develop and will be part of 1.8.0 release.

[2017-01-30 17:30] rayrutjes opened #501 "Comment chars displayed in autocomplete"
Not sure about the exact reason but sometimes autocomplete would render some escaping chars:

![image](https://cloud.githubusercontent.com/assets/5570853/22433857/20af21ca-e71a-11e6-8d37-19cc6b8f7e9f.png)

Probably WordPress or a plugin adding CDATA to our `script html` tags which then gets rendered.

[2017-02-01 20:46] SolidDev opened #503 "Programmatically created/altered products are not indexed"
In creating sample products for my WC instance, I used PHP to create a products for each category. I expected to see all the new products that were showing up in my WP admin, to show up in my Algolia Dashboard Index.

I soon realized that Algolia was not indexing my new products until I clicked the Publish button from the edit product page within WP. As I have hundreds of test products and will ha

[2017-02-02 02:15] SolidDev commented on #503
Perhaps a better question here would be which wp action does this plugin hook into to index updated posts? I could be sure to trigger that when creating my test products.

[2017-02-02 03:24] RonnieTanner opened #504 "New Install in Wordpress not getting past _tmp index"
###What did you expect to happen

The indexes to create and the default search to be replaced by Algolia search

### What happened instead?

Index never got past creation of _tmp file.

### How can we reproduce this behavior?

I'm not sure.

Can you provide a link to a page which shows this issue?

http://www.thepathoftruth.com/newsite/

### Technical info
* WordPress version:4.7.1
* Algolia Searc

[2017-02-02 15:56] rayrutjes commented on #503
Hi @SolidDev you can see all the hooks here: https://github.com/algolia/algoliasearch-wordpress/blob/develop/includes/watchers/class-algolia-post-changes-watcher.php

Not sure why the save hook isn't triggered in your case, it is in most cases even with plugins that generate a lot of entries programatically.

Could it be that your import script is running to early in the wordpress process and that

[2017-02-02 15:58] rayrutjes commented on #504
Hi @RonnieTanner

Could you provide us with PHP logs? If _tmp indices are not moved to the final destination in probably means a PHP error stopped the processing of the queue.

https://community.algolia.com/wordpress/logs.html

[2017-02-02 16:03] SolidDev commented on #503
@rayrutjes Thanks for the response and link. I will look into it.

I don't think that my code (located in a template file) is running before any loaded plugins. WP loads all plugins before `do_action('init')` and before any theme files are loaded.

I'll let you know if I can find the cause here.

[2017-02-02 16:07] rayrutjes commented on #503
Please do! I would gladly merge a PR

Thanks a bunch for reporting this in the first place.

[2017-02-02 18:58] RonnieTanner commented on #504
Hi there, I deactivated the plugin, reactivated it and started a new index process and here is what showed up in the log:

PHP Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 5504996 bytes) in /usr/www/users/rtanner2/thepathoftruth.com/newsite/wp-content/plugins/search-by-algolia-instant-relevant-results/includes/libraries/algoliasearch-client-php/src/AlgoliaSearch

[2017-02-02 19:10] RonnieTanner commented on #504
I was able to increase my memory allowance in wp-config:

ini_set('memory_limit', '500M');

That did the trick and it's now working.

thanks for the tip on the logs.

Ronnie

[2017-02-02 22:10] rayrutjes commented on #504
Glad to hear you worked it out!

[2017-02-02 22:10] #504 closed

[2017-02-02 23:31] SolidDev opened #505 "Indexing Queue Status Idle & No Errors"
While troubleshooting [this post](https://github.com/algolia/algoliasearch-wordpress/issues/503) I noticed that Indexing Queue Status was Idle, yet there were 646 pending tasks.

![screen shot 2017-02-02 at 6 26 02 pm](https://cloud.githubusercontent.com/assets/8572930/22573145/8d2f0ec0-e975-11e6-87c3-c2b8b3741070.png)

I expected there to be some errors in the log, but there were none.

![screen

[2017-02-04 13:01] 2aces commented on #450
Just a quick (and polite) note: why not keep this as an open issue as it is not really resolved? It may help people looking only on open issue filter (I almost did that), btw.

Thanks for the info/workarounds.

[2017-02-05 08:48] SolidDev commented on #503
@rayrutjes

I've followed your code to it's end and can see no point where is errors or halts or interprets my programmatic `wp_insert_post()` differently from a WP Admin Edit Post Page Publish.

So you are using the action hook `save_post` which is being triggered by my `wp_insert_post()` code. I've used `echo` + `die()` as breakpoints in the Algolia plugin code to follow the execution. The `sync

[2017-02-06 08:17] rayrutjes commented on #503
On my end products are properly pushed to the index. Could it be that the queue isn't processed but that the tasks are yet correctly queued?

[2017-02-06 08:24] rayrutjes commented on #454
I'd love to add this to the codebase in our compatibility class.

Any chance you could do a PR to see where exactly you did insert this piece of code, because I tried similar implementations without much success.

[2017-02-06 08:42] SolidDev commented on #503
@rayrutjes

I thought that might be the case when I posted [this issue] (https://github.com/algolia/algoliasearch-wordpress/issues/505). But sadly, I have sat through clicking process queue until 0 tasks were pending. After that, no products were indexed in the Algolia dashboard.

I may try tearing it all down and starting from scratch since there is obviously something that we're overlooking here

[2017-02-06 08:53] rayrutjes commented on #505
@SolidDev do you mind checking if you have PHP Errors? If the queue stops processing at some point, it probably means a PHP process has crashed for some reason.

[2017-02-06 15:15] insanetisane commented on #454
https://github.com/algolia/algoliasearch-wordpress/pull/506

This is exactly how I did the fix on for our website. This is just done on the searchable posts because that's all we needed.

Hope that helps!

[2017-02-07 05:48] pascalroget commented on #505
Try switching to the default theme, clearing the queue and re-indexing everything.

[2017-02-07 16:08] pascalroget commented on #503
Check your PHP error log.

[2017-02-07 19:47] SolidDev commented on #505
@rayrutjes There are no errors in the log file. Actually, it hadn't even existed since the website was fresh. I tested that error logging was working properly using this code, which produced the PHP error log file as expected: `error_log("Testing error logging!", 0);`

Any thoughts on what else might be causing the 'Process Queue' to be going Idle?

[2017-02-07 19:49] SolidDev commented on #505
I have removed the child theme and still see the same behavior.

There are no PHP errors being logged related to this behavior.

[2017-02-07 22:32] SolidDev commented on #503
There are no PHP errors being logged by the plugin. I'm not sure how to proceed with troubleshooting.

[2017-02-08 01:04] pascalroget commented on #503
Have you tried running the queue manually via WP-CLI?

[2017-02-08 03:57] pascalroget commented on #505
Try installing wp-cli http://wp-cli.org/#installing then running the following from your wordpress root directory:
$ wp-cli algolia process_queue

[2017-02-08 04:05] SolidDev commented on #505
Unfortunately, this is on shared hosting and we will not have command line access need to install and run this.

On February 7, 2017 at 10:58:04 PM, Pascal Roget (notifications@github.com) wrote:

Try installing wp-cli http://wp-cli.org/#installing then running the following from your wordpress root directory:
$ wp-cli algolia process_queue

—
You are receiving this because you were mentioned.
Rep

[2017-02-08 08:07] rayrutjes commented on #505
@SolidDev could you use https://community.algolia.com/wordpress/logs.html#php-logs-with-an-extension to see if you get more errors that way?

[2017-02-08 20:45] SolidDev commented on #505
@rayrutjes Thanks for the continued support. In all of my WP dev environments I make sure to set `define( 'WP_DEBUG', true ); define( 'WP_DEBUG_LOG', true );` in the `wp-config.php` file. Unfortunately, these settings have been enabled the whole time. Still no Errors on the Logs page and no PHP errors logged into the server's log file.

[2017-02-09 09:44] rayrutjes commented on #505
Hi @SolidDev ,

If it's not a PHP error and nothing is catched by the plugin Logs, then it could be HTTP server droping connexions.

Can you have access to the apache/nginx logs and see if you see something weird there?

I can remeber we had an issue once where the http headers would get too big in the indexing loop, and apache would refuse the requests.

[2017-02-09 19:25] SolidDev commented on #505
@rayrutjes I've reached out to the hosting company about access to the Apache logs. This is a shared CloudSites account, so I fear that we will not have sufficient rights to see the logs. Fingers Crossed...

If all else fails, I'll try another development server.

[2017-02-13 13:11] Spone opened #508 "How to index BuddyPress groups"
Hello,

I'd like to create an index which would contain my [BuddyPress Groups](https://buddypress.org/about/groups/).

The `bp_group` custom type doesn't show up in on the **Indexing** page.

How can I set this up?

Thanks in advance.

[2017-02-13 15:55] Spone commented on #499
Thanks @rayrutjes I managed to use the "searchable posts" index with very few customization. I changed its label for autocomplete using the `algolia_autocomplete_config` filter.

[2017-02-14 07:38] andizer opened #509 "Scheduled posts showing up in search results."
### What did you expect to happen?
The scheduled post not being visible in the search results

### What happened instead?
The scheduled post is visible in the search results. This also happend in private browsing mode without being logged in.

### How can we reproduce this behavior?
Add a post with a scheduled date in the future. Search for it and it will be visibible. When pressing the result it

[2017-02-14 10:48] will83 opened #510 "Disable default results"
When i go to the search page (http://mydomaine.com/?s), I can see a list of results (probably latest elements saved in the database).

How can I disable this list ?

Thank you

[2017-02-15 17:28] Sokos6 opened #511 "Search Result Shows 1 Result Found - but no actual result"
### What did you expect to happen?
When I search something on the site, I was expecting to see the search page return the result
### What happened instead?
When i searched woocommerce, it takes me to a page that says 1 result found in 1ms....but then no results are listed. When I look at dev tools, it gives this error.
Uncaught TypeError: Cannot read property 'matchedWords' of undefined
    at eva

[2017-02-15 17:48] jlaustill opened #512 "SSL certificate problem: self signed certificate"
### What did you expect to happen?
I expected indexing to work

### What happened instead?
I get this error
WP_Error Object
(
    [errors] => Array
        (
            [http_request_failed] => Array
                (
                    [0] => SSL certificate problem: self signed certificate
                )

        )

    [error_data] => Array
        (
        )

)
### How can we reproduce t

[2017-02-15 19:32] jlaustill commented on #512
adding these lines to wp-config.php seems to get it to work.  Is this a bad idea?

add_filter('https_ssl_verify', '__return_false');

add_filter('https_local_ssl_verify', '__return_false');

[2017-02-16 04:01] SolidDev commented on #505
@rayrutjes I've moved this WP instance to a new VPS where I have root access. However, the Algolia Queue is working normally and does not switch to Idle while having Pending Tasks. I am sorry to say this issue has resolved itself by simply being on a VPS now instead of regular shared hosting.

[2017-02-16 04:01] #505 closed

[2017-02-16 04:27] SolidDev commented on #503
@rayrutjes

I've tried activating only the parent theme and then creating the products programmatically again with no luck of them indexing themselves. The Process Queue does run all the way through now without interruption and the Algolia log, as well as the WP log and server's PHP log all show 0 errors or warnings.

Below is the code used to generate products. I've created a `template-product-ge

[2017-02-16 12:32] rayrutjes commented on #512
Hi @jlaustill ,

The error you get is indeed related to the fact that cURL is not able to validate your certificate.

You can indeed deactivate that check in development with the snippet you provided.

I wouldn't recommend disabling certificate checks on production environments though, where you should focus on obtaining a valid certificate.

[2017-02-16 12:34] rayrutjes commented on #511
Hi @Sokos6 ,

Did you customize the index settings in the Algolia dashboard?
The default templates rely on the default configuration we push.

If you change the settings manually you also have to adapt the templates.

[2017-02-16 12:37] rayrutjes commented on #505
@SolidDev please note that we are aware of the queuing system being a bit unreliable in certain environments and will change the strategy in the future.
Thanks for having taken the time to discuss your issue here.

[2017-02-16 13:45] jlaustill commented on #512
Absolutely never do this in production :)  I ran into another possible fix that involved adding your self signed cert to your local store.  I'm going to test that and if it works I'll probably write up a blog post on these two solutions.  I'd love to contribute back if there's a good place for this information in the docs?  I don't think this is really a bug, but I did waste an entire day on it so

[2017-02-16 14:00] rayrutjes commented on #512
@jlaustill I think the best place to share your feedback would be here. We are working on changing the indexation process so that we don't require HTTP calls anymore. No ETA though.

[2017-02-16 15:14] Sokos6 commented on #511
I didn't do anything to the settings in the Algolia dashboard. Are you able to take a look at the link I added, or my account and see what's going on? I just want my search results to show up...if not I need to switch back to the default search, or just hook in google search.

[2017-02-17 08:46] rtwlabs opened #513 "Combining Posts and Pages into one index for results"
### What did you expect to happen?

Testing the plugin for a clients travel site where we have lots of blog posts and static pages full of content. The pages being more evergreen guide style content while blog posts the everyday stuff.

When indexing all searchable posts we want to pull back one combined listing of posts and pages for readers to select from. With weighting to favour the pages on t

[2017-02-17 11:48] royduin commented on #168
I just figured some stuff out, I wanted to show the results per language. So I've a Wordpress install with WPML and two languages configured: Dutch and French I only wanted Dutch search results on the Dutch website and French on the French website. What I've done to accomplish this:

1) Added the code suggested here in my theme `functions.php`: https://community.algolia.com/wordpress/wpml.html
2)

[2017-02-17 15:48] Spone commented on #508
I managed to index the groups using by creating a new Class :

[code]

And then adding it to my indices (in `functions.php`)

[code]

Is this the correct approach?

[2017-02-17 15:56] rayrutjes commented on #508
For now this the correct approach, well done!
I'm currently working on a way to make this simpler.

The Index class is currently a bit complex and doesn't facilitate extensibility.

Also, the indexing mechanism can be a bit slow depending on the amount of data you have on your website.

I have a few questions for you to better understand your needs:
- What kind of search experiences are you buildi

[2017-02-17 17:05] Spone commented on #508
Thanks for the feedback. Here are my replies:

I'm working on the search for a content website, with a tailor-made theme, which contains News, Events, BuddyPress Groups, a few custom post types (that will all be in a single "composite" Index, along with Pages). It also performs search on 2 indices that are indexed by external sources.

I use autocomplete but I had to copy and customize the current

[2017-02-20 18:39] SolidDev commented on #503
I've found the solution here. There is nothing wrong with the Algolia for WC plugin. The problem was in my product generator code.

Add to the `$post_id` declaration: `'post_author' => get_current_user_id(),` and `update_post_meta( $post_id, '_sku', '' );` and `update_post_meta( $post_id, '_visibility', 'visible' );`. After adding those 3 lines, The code now generates products that are both visibl

[2017-02-20 18:39] #503 closed

[2017-02-21 18:48] SolidDev opened #515 "Product Attribute Filter Logic"
I found this page in the documentation that does help me display any and all attributes I'd like as search filters (https://community.algolia.com/woocommerce/frequently-asked-questions.html#can-i-choose-the-attributes-that-are-available-in-the-filters-).

As it works right now, all attribute filters listed in `$attribute_ids_to_keep ` are displayed as filters. Once the results are narrowed down fa

[2017-02-22 21:26] ronizamir commented on #493
Hi - can you share when it suppose to be fixed?

[2017-02-22 22:22] rayrutjes commented on #493
Hi @ronizamir , until the fix is implemented in an official release, you can try to add the following snippet to your functions.php file of your theme: https://gist.github.com/rayrutjes/a3d7e243d663e410a4d33cd6c06a9f0b

Let me know if that works for you,

[2017-02-23 23:11] SolidDev opened #516 "InstantSearch not showing all product categories, limited to 10"
**What did you expect to happen?**
I expected the InstantSearch filter for product categories to list all product categories with products assigned to them.

**What happened instead?**
Only 10 product categories are listed. I am unsure how these specific 10 are chosen.

**Technical info**
WP 4.7.2
Search by Algolia 1.7.0
Algolia Search for WooCommerce 0.7.0

[2017-03-01 12:46] royduin commented on #488
Any updates on this?

[2017-03-02 07:34] samukuhn opened #519 "Indexing not working"
### What did you expect to happen?

#My page should be indexed.

### What happened instead?

Nothing. The queue status is 'Idle' and there are 18 pending tasks.

Can you provide a link to a page which shows this issue?
www.wec-international.de

### Technical info
* WordPress version: 4.7.2
* Algolia Search plugin version: 1.7.0

<img width="450" alt="bildschirmfoto 2017-03-02 um 08 31 40" src="htt

[2017-03-02 09:25] rayrutjes commented on #519
Hi @samukuhn ,

Can you tell us if you have something on your logs screen?
Otherwise could you enable and check the PHP errors: https://community.algolia.com/wordpress/logs.html

Thank you.

[2017-03-02 10:34] jmandala opened #520 "Options not reflecting updates in instantsearch"
### What did you expect to happen?
When plugin options are updated, these new values should be used on the instantsearch functionality on the front end.

### What happened instead?
The first values entered were used.

### How can we reproduce this behavior?
Setup the plugin. Ensure that instant search works. Then change the index prefix. The new indices are created. Now perform a search on the fro

[2017-03-02 13:46] rayrutjes commented on #520
Thank you for reporting this. I understand that changing the index prefix isn't reflected in the frontend instantsearch.
Are you using any caching plugin? Instantsearch should use the up to date value of the index.

[2017-03-02 15:49] jmandala commented on #520
No caching plugin that I'm aware of. I'll check more closely.

Sent from my iPhone

[2017-03-06 08:16] #512 closed

[2017-03-07 20:10] taija commented on #415
@rayrutjes - currently evaluating Algolia as a solution; this would be critical for us.

We would use a global search primarily, with dual global/single search in some areas.

[2017-03-08 08:40] rayrutjes commented on #415
Hi @taija ,

I have seen some users tweaking a bit the plugin to make it a good fit for multi-website WordPress instances. That being said it all depends on the use case.

If you want to have both search accross multiple websites and local search, the plugin  might not be suited.

Could you explain the different search scopes you planned to have?

Please note that we are also working on some PHP l

[2017-03-10 11:00] smuddin opened #521 "Need to index taxonomies (product categories/brands) when post type (products) updated"
### What did you expect to happen?
When products were updated, I want the plugin to check products taxonomies and if they were indexed or not. If not indexed, then the plugin need to index those taxonomies.

Current updated version of the plugin does not do that. Which leaves us with an issue, when we
1. Add a taxonomy (product category/brand)
2. Update some product and assign newly added taxonomi

[2017-03-13 13:02] gregvissing opened #522 "How to stop from searching the word "Search" when Search box is clicked with no value."
### What did you expect to happen?
When a user clicks the Search box the placeholder goes away with the cursor blinking waiting for something to be typed.

### What happened instead?
A box of results opens up below Search box with the results for the word "Search" on the website. I don't want it to search the word "Search" with no value in search box as shown in the screenshot below.
https://githu

[2017-03-13 16:24] rayrutjes opened #523 "[Docs] Build is broken"
It looks like the Docs build is broken since we introduced the header. cc @JonasBa

I simply ran `make`.

[code]

[2017-03-13 18:44] JonasBa commented on #523
@rayrutjes Can you pull the `add-remove-logo-instructions` and make sure to remove `node_modules` and `yarn.lock` as I have updated the dependency to a npm package. After that just yarn install and try to run make build?

[2017-03-13 20:27] rayrutjes commented on #523
It works now @JonasBa , thanks!

Could we make the links relative so that when I click on `documentation` in dev mode I access the page instead of a 404?

If it is too complex, not a big deal.

[2017-03-13 20:27] #523 closed

[2017-03-15 07:30] andizer commented on #509
Is there any news on this issue?

[2017-03-15 12:14] rayrutjes commented on #509
Arg, sorry about the delay, I will try to tackle it tomorrow, bumping it up in the todolist.

Thanks for your patience and the friendly ping.

[2017-03-17 10:03] pixelastic opened #525 "docs: "Categorie" instead of "Category" in screenshot"
### What did you expect to happen?
The singular form of "categories" is "category", and that's what should be written in the screenshot

### What happened instead?
The screenshot displayes "Categorie" instead

### How can we reproduce this behavior?
You can see it on the [website](https://community.algolia.com/wordpress/) (right column of the screenshot):
![image](https://cloud.githubusercontent.c

[2017-03-20 13:04] rayrutjes commented on #509
Hi @andizer ,

I just tested creating a "future" post and it didn't get indexed.

By default, the post status should be "publish" to be indexed: https://github.com/algolia/algoliasearch-wordpress/blob/develop/includes/indices/class-algolia-posts-index.php#L67

Maybe you tried to override the 'should_index' with a filter? You mind sharing it?

[2017-03-20 13:32] andizer commented on #509
I see what happened:

I've scheduled an already published post. This post was already indexed. When searching for it, it was visible in the results. By waiting a couple of minutes the search index was refreshed and it the post isn't visible anymore.

After seeing this the first time. I've made some posts to reproduce the situation. But I was searching/looking for the post faster than the refresh o

[2017-03-20 13:32] #509 closed

[2017-03-20 14:24] rayrutjes commented on #509
No problem @andizer , sorry for the delay on our side, definitely not the response time I would like to provide!

Let me know if there if there is anything I can help you with.

FYI we are working on making the indexing simpler, by removing the whole queue mecanism that introduces custom post types and HTTP looping. We will also provide simple WP-CLI commands.

Stay tuned for that.

[2017-03-21 11:12] #454 closed

[2017-03-21 11:14] rayrutjes commented on #490
I'm unable to reproduce this at the moment.

[2017-03-21 11:14] #490 closed

[2017-03-21 11:16] rayrutjes commented on #525
This is currently reflecting the default singular names provided by WordPress for the post types.

[2017-03-21 11:16] #525 closed

[2017-03-21 11:18] rayrutjes commented on #522
Hi @gregvissing , it looks like the 2 links are not available for now.

I'm closing this for now, feel free to re-open if necessary.

[2017-03-21 11:18] #522 closed

[2017-03-21 11:21] rayrutjes commented on #521
Hi @smuddin ,

Unfortunately this is indeed not the current behaviour and would add even more complexity to the current way we index data.

What I would recommend in your case would be to trigger a full re-index from time to time.

You can also trigger this from the server with [WP-CLI](https://community.algolia.com/wordpress/wp-cli.html).

If you feel like doing a PR to add this feature, I'd glad

[2017-03-21 11:21] #521 closed

[2017-03-21 11:23] rayrutjes commented on #520
Hi @jmandala , I'm closing this for now, being unable to re-produce it.

Please feel free to give more context if the problem persists.

[2017-03-21 11:23] #520 closed

[2017-03-21 11:23] rayrutjes commented on #519
I'm closing this due to some period of inactivity. Feel free to re-open with additional context that would help us troubleshoot the issue.

[2017-03-21 11:23] #519 closed

[2017-03-21 11:27] rayrutjes commented on #516
Hi @SolidDev ,

As of today, the plugin you are using does not provide a solution to change this. However, you could edit the `templates/woocommerce-instantsearch.php`, and add the 'limit' attribute:

[code]

I hope that helps!

[2017-03-21 11:27] #516 closed

[2017-03-21 11:29] rayrutjes commented on #515
Unfortunately, and as of today, there is no way to do this.

You could probably get away doing so with a custom [instantsearch.js implementation](https://community.algolia.com/instantsearch.js/documentation/) instead of using the one provided in the `template` dir.

For further WC support, please ask your questions on the [forum](https://discourse.algolia.com/c/wordpress) given this repository rel

[2017-03-21 11:29] #515 closed

[2017-03-21 11:36] rayrutjes commented on #513
Hi @rtwlabs ,

Sorry about the delay,

In your case you will indeed alter the customRanking a bit to reflect your intentions.

Basically what you will want to do [is push a custom attributes](https://community.algolia.com/wordpress/advanced-custom-fields.html#push-custom-fields-to-algolia) as part of all your records of the searchable posts index called `is_page` (the naming of this attribute is u

[2017-03-21 11:36] #513 closed

[2017-03-21 11:39] rayrutjes commented on #511
@Sokos6 without further logging information (PHP + Logs page of the plugin), I'm afraid I won't be able to troubleshoot this further.

From the JS error message, it looks like the default index settings have been altered from the Algolia dashboard.

Could you try deleting all indices, reindex again and try it out?

If it doesn't work, please feel free to re-open this and please provide us with mor

[2017-03-21 11:39] #511 closed

[2017-03-21 11:43] rayrutjes commented on #510
Hi @will83

I'm unsure your issue relates to our plugin, and I currently don't see anything related to Algolia on your website.

The issue you encountered was probably related to the theme you use, and if so you should ask the workaround to the author.

Feel free to re-open this if I missed something or if you have more context.

Cheers,

[2017-03-21 11:43] #510 closed

[2017-03-21 11:45] rayrutjes commented on #508
Hi @Spone ,

We are currently moving foward with providing a PHP library that will allow developers to build robust pipelines between WordPress and Algolia. If you are interested in trying that out, I'd gladly give you access to a copy of it.

If so please DM me on [our forum](https://discourse.algolia.com/c/wordpress).

I'm closing this issue as we do not plan to add more features to this plugin

[2017-03-21 11:45] #508 closed

[2017-03-21 11:47] rayrutjes commented on #501
I'm unable to reproduce this for now. If anyone has more insight, I'd gladly investigate this further if someone manages to reproduce it.

[2017-03-21 11:47] #499 closed

[2017-03-21 12:19] rayrutjes commented on #487
@kakashigr so we are using `get_option('posts_per_page')` to determine the number of posts per page, see: https://github.com/algolia/algoliasearch-wordpress/blob/develop/includes/class-algolia-search.php#L66

You could use the [option_posts_per_page hook](https://developer.wordpress.org/reference/hooks/option_option/) and return the number you want given the context.

I hope that helps. Sorry abou

[2017-03-21 12:19] #487 closed

[2017-03-21 12:21] rayrutjes commented on #468
@filontheroad I'll close this one for the time being. Please share your solution here or feel free to ping me again if you have more context about the issue.

[2017-03-21 12:21] #468 closed

[2017-03-21 12:22] rayrutjes commented on #310
We will simplify the indexing instead of introducing yet more complexity.

[2017-03-21 12:22] #310 closed

[2017-03-21 12:24] rayrutjes commented on #434
This should be enough to push custom attributes: https://community.algolia.com/wordpress/advanced-custom-fields.html#push-custom-fields-to-algolia

[2017-03-21 12:24] #434 closed

[2017-03-21 15:44] taija commented on #415
Hi @rayrutjes,
Our primary need is to have global search across multisite, but all in all having supporting libraries would probably be better than anything else. It would allow us to tweak functionality as needed- we can do our own UI.

[2017-03-21 16:02] rayrutjes commented on #415
Roger that @taija ,

Can you tell me a bit more then about the multiwebsite searchable content? Do you only want to index the post type "post" and allow to search for them from any website?

[2017-03-21 16:11] taija commented on #415
Hi @rayrutjes ,
We are a college, and use our multisite installation essentially as one website, using multisite's subdirectory configuration. This allows us to better contain permissions, and allow flexibility for people who manage different areas. We need all content to be searchable across the whole network (pages, posts, custom post types, ideally documents as well), ideally with some way to f

[2017-03-21 16:26] rayrutjes commented on #415
@taija thanks for your answer. We already have a user with the exact same use case that tweaked a bit the plugin.
In your case though, you might want to leverage a lib we are working on that should make the indexing simple to implement.

Would you mind reaching out by email and tell me a bit more about your project? raymond@algolia.com

I think this is the perfect use case for me to ensure our mul

[2017-03-22 15:54] blackjacques opened #528 "No listIndexes() function"
### What did you expect to happen?
I'd like to verify that the index name is valid using PHP:

include_once(WP_PLUGIN_URL . '/algoliasearch-wordpress-master/lib/algolia/algoliasearch.php');
$algolia_client = new \AlgoliaSearch\Client('appid', 'apikey');
$indexes = $algolia_client->listIndexes();  //fails

### What happened instead?
The listIndexes() function fails and causes a 500 server error.

#

[2017-03-22 17:24] rayrutjes commented on #528
Hi @blackjacques ,

To be able to use the listIndexes function you need to use an Admin API key which you can find on this screen: https://www.algolia.com/api-keys

Can you confirm you used the admin API key?

Could you give us the full stack trace of the error maybe?

PS: you shouldn't not expose your api keys publicly. I've edited your initial request to remove that information.

[2017-03-22 17:36] blackjacques commented on #528
Hi Raymond,

That just might be the problem, because I am using the Search-Only API Key.  I’ll try it again with the Admin one.

Interestingly, because I am instantiating the \AlgoliaSearch\Client within the do_feed_rss2 WordPress hook, calling the client->listIndexes() just results in a 500 server error with no output whatsoever.  I have not yet figure out a way to catch such errors.  Too bad the

[2017-03-22 17:59] blackjacques commented on #528
Are any errors thrown when you reference an invalid index using PHP code such as:

$algolia_client->initIndex($index_name);

If so, can you provide me with a snippet of the catching part?  Something like:

catch (AlgoliaException $e) {
        echo '{"error": "' . str_replace('"', "", $e->getMessage()) . '"}';
        return;
}

Thanks!

Rob G

[2017-03-22 23:06] rayrutjes commented on #528
`initIndex` only creates a new instance of `Index`, it doesn't trigger any API call and should not throw any exception.

Regarding the 500 error, you should enable the logging to check the exact error message: https://community.algolia.com/wordpress/logs.html

Let me know what the error is.

[2017-03-23 13:19] blackjacques commented on #528
I think that you are correct that the 500 error is being caused by the client being defined by the Search-Only API Key.
Although using the Admin key instead would provide a way to check if the index is valid, I'm a little reluctant to use it for a query script.
Is there a way to check that an index name is valid using the Search-Only API Key?  Would the call to the search() function fail in some w

[2017-03-23 13:49] rayrutjes commented on #528
If the index does not exist and your try to `search` on it, it will indeed throw an exception.
You should definitely not use the Admin API key for search operations in the frontend.

[2017-03-23 13:58] blackjacques commented on #528
Great!  Should I catch an AlgoliaException or will the Base Exception suffice?

catch (AlgoliaException $e) {
    $products = $index->search(trim($_GET['prod_name']), $algolia_config_settings);
     echo '{"error": "' . str_replace('"', "", $e->getMessage()) . '"}';
 return;
 }

[2017-03-23 15:54] rayrutjes commented on #528
Both will work, but the more specific the better.

[2017-03-23 15:58] blackjacques commented on #528
Sounds good.

Thanks for all your help!

[2017-03-23 15:58] #528 closed

[2017-03-25 07:23] damanmehta opened #529 "Index Woo-Commerce Product Prices"
Plugins indexes everything of product post type except price tags.
Is there any way to Index Regular and Sale prices per product?

[2017-03-28 15:20] Salamander3 opened #532 "It just doesn't work"
### What did you expect to happen?
I finished indexing all and went to the plugin settings and selected:
"Use Algolia with Instantsearch.js" Hoping to see search results but instead the page looks broken and no results show.

### What happened instead?
The search page show no results only a magnifying glass icon outside the content area, and this errors on console:
![untitled](https://cloud.github

[2017-03-28 15:29] Salamander3 commented on #532
On the FAQ it says it's compatible with any wordpress theme but not with newsmag it seems. You'll have to buy newsmag to test i guess. Not sure if there's interest on making compatible.

[2017-03-28 16:31] Salamander3 commented on #532
Instant search works, but only on desktop, not on mobile.

[2017-03-28 16:46] Salamander3 commented on #160
So, do i need to select every CPT or selecting searchable_posts is enough? I don't want extra records if searchable_posts already contains all CPTs.

[2017-03-29 15:05] rayrutjes commented on #532
@Salamander3 can you check if your theme correctly uses the 'wp_footer' in the template somewhere?

[2017-03-29 15:08] rayrutjes commented on #529
You can indeed push additional attributes by following [the example here](https://community.algolia.com/wordpress/custom-attributes.html#push-your-visits-count-to-algolia).

Here are some common WooCommerce attributes you might be interested in:

[code]

[2017-03-29 15:56] Salamander3 commented on #532
Yes search.php calls:
[code]

[2017-03-29 20:30] rayrutjes commented on #532
No the function is `[wp_footer()](https://codex.wordpress.org/Function_Reference/wp_footer)`.
This method should be present in the theme according to WordPress best practices.

[2017-03-29 20:32] Salamander3 commented on #532
I don't think newsmag follow best practices. Their theme is a resource hog on busy sites with so many ajax requests saturating mysql. I'll regret buying it. Hopefully i'll be able to get a light good theme that will do things right and work with algolia. Sorry for all the trouble.

[2017-03-29 20:32] #532 closed

[2017-03-30 13:03] rameden opened #534 "Using the search in a single place only."
I was wondering if there is a way to _not_ use the Algolia search on a search from. We would like to use this in our global search but not in another search we have.

Thanks!

[2017-03-30 13:07] rayrutjes commented on #534
Yes, you can do so by implementing a custom template for the autocomplete experience, and then changing the selector for the input.

https://community.algolia.com/wordpress/customize-autocomplete.html#disable-autocomplete-on-certain-search-inputs

I hope that helps.

[2017-03-30 13:20] rameden commented on #534
Worked perfect! Thanks!

[2017-03-30 15:25] rayrutjes commented on #534
You are very welcome ;)

[2017-03-30 15:25] #534 closed

[2017-04-05 13:07] alisynthesis commented on #466
@rayrutjes - Any progress on this one? We'd love to use this for loads of client sites, but the sites often use Types/Views as well.

[2017-04-05 14:59] rayrutjes commented on #466
@alisynthesis we are working on changing the way we index and send records to Algolia.
No ETA, but the moment we release the new re-indexing, we should have way better compatibility with third party plugins.

Please bear with us.

[2017-04-05 15:01] alisynthesis commented on #466
@rayrutjes awesome, thanks for the update. 👍

[2017-04-13 06:47] rayrutjes commented on #501
A user kindly narrowed this issue down to https://wordpress.org/plugins/w3-total-cache/

It must be related to HTML or JS minification.

[2017-04-24 11:29] liamboogar opened #537 "Adjust User Roles & Permissions"

[2017-04-24 11:36] rayrutjes commented on #537
That makes sense, thanks for putting it together @liamboogar

[2017-04-24 11:36] rayrutjes commented on #537
Lol, wrong repo though :p

[2017-04-24 11:37] liamboogar commented on #537
lol woops

[2017-04-24 11:37] #537 closed

[2017-04-24 16:36] SRUC opened #538 "post_excerpt not displayed in search results"
I have implemented Search by Algolia on a test install and configured to search across a number of custom post types. Alongside pages and posts, I am indexing custom post types which contain only post_title, post_excerpt plus a post_meta field which is used to store a link to a downloadable file.

I expected that Algolia would display post_excerpt under post_title in search results for these custo

[2017-04-25 08:19] yasinS opened #539 "[HackerOne #221396] Unsanitised HTML leading to XSS on WordPress Sites"
Hi,

As per HackerOne [report #221396](https://hackerone.com/reports/221396), `@adams` requested that I report this here:

User-specified HTML is unsanitised by the Algolia WordPress plugin leading to XSS on sites via Instantsearch.

# Proof of Concept
## Test conditions
I have tested the following Proof of Concept with WordPress 4.7, the latest plugin build and the same systems as resolved report

[2017-04-25 08:26] rayrutjes commented on #539
Hi @yasinS ,

Thanks for reporting this.
We definitely want to fix this in the future release.

That being said, it is to note that to be able to exploit XSS, a user needs to access the WordPress dashboard or the Algolia one.

Thanks a lot for opening this, we will improve this ;)

[2017-04-25 08:28] rayrutjes commented on #538
This will be the default behaviour in next major release. Please bear with us.

[2017-04-25 15:13] #529 closed

[2017-04-25 16:27] rayrutjes opened #540 "Create upgrade Guide to V2"
A list of things that will need to be documented

- Re-index (in browser loop OR WP-CLI)
- Different record structure
- Keep live settings now instead of erasing everytime

To be continued...

[2017-04-26 11:06] rayrutjes opened #541 "We should no longer require special fix for empty queries in IS"
Currently, we have implemented a way to remove distinct and faceting after distinct for empty queries.

Now the API handles this properly, so we can simplify that part.

[2017-04-26 11:08] rayrutjes opened #542 "Do not push all thumbnail sizes by default"
We should only push at most couple of thumbnail sizes.

Introduce a hook to change the ones that can be added to the records.

[2017-04-26 11:18] rayrutjes commented on #541
In which case we can also remove the special `record_index` attribute.

[2017-04-26 11:29] rayrutjes opened #544 "Leverage new "appendTo" feature of autocomplete.js"
We no longer need to rely on the ugly hack to ensure CSS styles are scoped for the dropdown.

[2017-04-26 11:32] rayrutjes opened #545 "Autocomplete config needs submit after index settings changes"
To reproduce, go index some indices & enable them in the autocomplete.

Then change the prefix and re-index.

Autocomplete keeps targeting old indices.

[2017-04-26 11:36] rayrutjes opened #546 "Make it easy to disable powered by"
- [ ] in autocomplete dropdown
- [ ] in instantsearch

[2017-04-26 11:48] rayrutjes opened #547 "Update powered by logo"
- [ ] in instantsearch
- [ ] in autocomplete

[2017-04-26 11:59] rayrutjes opened #548 "Make autocomplete header labels editable in the from the admin UI"

[2017-04-26 12:10] rayrutjes opened #549 "Make sure we don't require wp_footer call anymore"
Currently if the theme lacks the `wp_footer` method, then autocomplete.js + instantsearch.js experiences are broken.

[2017-04-26 13:44] rayrutjes opened #550 "Convert content to raw text before parsing"
The idea is that we constantly store a `content` attribute that is close to the "max attribute size" limit.

Currently it still splits apart records based on dom.

[2017-04-26 13:50] rayrutjes opened #551 "Use the mark tag by default and escape output of all highlights/snippets"
Will also solve #78

[2017-04-26 20:21] rayrutjes commented on #551
So in the end we won't use `mark` but keep `em` instead because of all the potential conflicts with existing themes.

[2017-04-26 20:22] rayrutjes commented on #551
We still miss the autocomplete escaping.

[2017-04-26 21:03] rayrutjes commented on #501
I just tried to re-produce this but didn't manage.
If anyone has any insight, I'd be really thankful ❤️

[2017-04-27 08:08] rayrutjes opened #552 "New splitting truncates in the middle of words."

[2017-04-27 10:37] rayrutjes commented on #455
Given the new simplified indexing strategy, users will handle settings in the Algolia dashboard.

[2017-04-27 10:37] #455 closed

[2017-04-27 11:10] rayrutjes commented on #422
Regarding security best practices, please find an extended guide here: https://www.algolia.com/doc/guides/security/best-security-practices/#guides

Regarding the features your are trying to implement, unfortunately it is out of scope of the current plugin.

[2017-04-27 11:10] #422 closed

[2017-04-27 11:12] rayrutjes commented on #415
I'm closing this for now given this would probably be something that needs to be developed as a specific plugin focused on searching across a network of websites.

[2017-04-27 11:12] #415 closed

[2017-04-27 11:47] #492 closed

[2017-04-27 11:47] #541 closed

[2017-04-27 11:47] #547 closed

[2017-04-27 11:47] #550 closed

[2017-04-27 11:47] #464 closed

[2017-04-27 11:47] #488 closed

[2017-04-27 11:47] #493 closed

[2017-04-27 11:47] #539 closed

[2017-04-27 11:47] #542 closed

[2017-04-27 11:48] #491 closed

[2017-04-27 11:48] #538 closed

[2017-04-27 11:48] #544 closed

[2017-04-27 11:48] #551 closed

[2017-04-27 13:15] #552 closed

[2017-04-27 13:28] rayrutjes opened #555 "Backend InstantSearch + frontend are not contradictory"
We should be able to power search in backend + frontend with Algolia.
This would allow us to keep fast backend display + frontend display.

[2017-04-27 14:14] yasinS commented on #539
Thanks for the fast fix @rayrutjes!

[2017-04-27 14:32] rayrutjes commented on #539
Thank you for reporting @yasinS , will be deployed as part of v2 release.

[2017-04-27 14:51] #548 closed

[2017-04-27 15:15] #546 closed

[2017-04-28 13:52] avengeralive commented on #155
How to 'Create a new instantsearch.js instance in the admin UI'?

[2017-04-28 14:56] rayrutjes commented on #155
@avengeralive , the text you are quoting was a suggestion of flow. Not something that is currently do-able.

If you are interested though, there are a lot of changes / fixes coming in the next release: https://github.com/algolia/algoliasearch-wordpress/milestone/10

[2017-04-28 16:59] chris-schmitz opened #559 "Question: doesn't splitting posts and pages automatically double cost?"
This isn't an issue, more just me trying to understand.

If the post and pages (and any other custom post type) are split into their own separate indices, searching multiple indices creates an operation per index, and pricing charges by operation doesn't this mean we're automatically multiplying the cost of Algolia by the number of post types we want to include?

I'm trying to decide if I want to

[2017-04-29 00:11] farmerpaul opened #560 "How to additionally filter search results, without screwing up pagination?"
Hey there. I'm fairly new to Algolia and your great plugin, but everything's pretty well documented and I seem to be getting a decent feel for it. This WP site I'm working on is using your service and plugin to index custom post types – courses, lessons, and so on – which are provided by a fork of the Zippy Courses WP plugin. Basically, the site offers online courses to various cohorts of students

[2017-05-01 16:54] farmerpaul commented on #560
I've been trying to think of a way to do this… some thoughts:

1. If possible with Zippy Courses (not sure if even is, though), generate a list of the post IDs of the custom post types (lessons, etc.) that the current student has access to, then hook into Algolia's search parameters so that it additionally filters by post ID – restricting results to only those post IDs provided. Although, it doesn

[2017-05-02 22:20] rayrutjes opened #561 "Display clear message in backend when re-indexing needs to occur"
When the UI is expecting some indices to exist, we should make sure that they really do exist.

Autocomplete: We should check if the indices exist and display a message if they don't per index.
Search Page: We should check if the searchable_posts index exist and display a message otherwise.

Given that re-index buttons can easily be added anywhere, we could probably add some where required.

[2017-05-02 22:32] rayrutjes opened #562 "Prevent user from leaving page if re-indexing in progress"
[code]

[2017-05-03 16:30] rayrutjes commented on #559
Hi @chris-schmitz sorry about the delay here.

Today Algolia offers different plans which are limited by the number of records and operations.

Most often the number of records is the limiting factor and you don't have to worry about the number of operations. But this of course depends on your website and the search experience you are providing.

We use multiple indices for autocomplete dropdown e

[2017-05-03 16:30] #559 closed

[2017-05-04 11:00] #545 closed

[2017-05-04 11:00] #555 closed

[2017-05-04 11:00] #561 closed

[2017-05-04 11:00] #562 closed

[2017-05-04 11:01] #410 closed

[2017-05-04 11:01] #421 closed

[2017-05-04 11:01] #466 closed

[2017-05-04 11:01] #474 closed

[2017-05-04 14:41] rayrutjes commented on #373
This is no longer required since we remove the local queue.

[2017-05-04 14:41] #373 closed

[2017-05-09 11:25] #549 closed

[2017-05-09 11:31] rayrutjes commented on #448
It appears that most users change other things than just addition and removal of widgets.
For now then can do so by overriding the template files.
I'm closing this for now as it is not part of the roadmap.

Feel free to submit a PR though after we released v2 in a few days. Codebase and indexing process will be simplified.

[2017-05-09 11:31] #448 closed

[2017-05-09 11:35] rayrutjes commented on #560
Hi @farmerpaul ,

Unfortunately what you try to achieve is not what the plugin is designed for.
It is probably do-able but would need some extensive usage of hooks here and there.

Maybe ask this question on our forum here: https://discourse.algolia.com/c/wordpress
I know that some of our users did manage to provide scoped search for different users.

[2017-05-09 11:35] #560 closed

[2017-05-09 12:10] #540 closed

[2017-05-09 15:26] GaetanFa opened #567 "Method is_wpml_enabled doesn't work when Polylang is installed"
The **is_wpml_enabled** method in \includes\class-algolia-compatibility.php does't work as expected when Polylang is installed and not WPML.

Indeed this method checks if the WPML function **icl_object_id** exists but Polylang sets this function too.
A fatal error is then encountered due to the variable **sitepress** which is not set.

### Technical info
* WordPress version: 4.7.4
* Algolia Search

[2017-05-09 15:28] rayrutjes commented on #567
That is very unfortunate, thanks for reporting it.
That being said, it is the WPML recommended way of detecting if WPML is enabled.

Do you have a Polylang specific method I could call to check if Polylang is there?

Could you share the error message?

[2017-05-09 15:46] GaetanFa commented on #567
The message is :
[code]

You can check if the class Polylang exists, this is my awaiting hack :

[code]

[2017-05-11 13:43] rayrutjes commented on #567
That makes a lot of sense @GaetanFa , let me push that. Thanks a ton.

[2017-05-11 13:46] #567 closed

[2017-05-11 14:52] GaetanFa commented on #567
Thank you @rayrutjes !

[2017-05-13 09:50] rayrutjes opened #581 "Gracefully handle errors"
- When searchable posts index is not available on search page
- When checking for existing indices in the backend

[2017-05-13 20:00] pmahmoudzadeh opened #582 "How to search Clickable Images with Algolia in Wordpress?"
### What did you expect to happen?

I am using Wordpress for my website and my website is completely images based like https://pixabay.com/. When search a word (e.g. Cat), it shows "Cat" but when I click on "Cat" it will redirect me to blank page without any images like here https://snag.gy/YhK4W0.jpg.

I am not looking for instant search results with images. I need a drop-down menu which displays

[2017-05-14 22:15] poisa opened #583 "500 Error"
### What did you expect to happen?
See any of the Algolia setting pages in the WP admin.

### What happened instead?
Blank page. HTTP 500 error. PHP logs said "Operations quota exceeded, change plan to get more Operations."

### How can we reproduce this behavior?
Create a free account, let it lapse past the first month. This error starts happening if you don't manyally set your account to FREE. T

[2017-05-14 22:21] rayrutjes commented on #583
Thanks for reporting this @poisa ,

I will make sure we handle this properly.

[2017-05-15 14:43] rayrutjes opened #584 "support autocomplete dropdown on fixed feaders"
Currently, when the search input is located in a fixed header, it doesn't follow it when the user scrolls.

[2017-05-15 15:59] #584 closed

[2017-05-15 18:29] peiche commented on #365
I'm trying to do something similar to exclude shortcodes for the [Aesop Story Engine](https://wordpress.org/plugins/aesop-story-engine/) plugin. I have thus far been unsuccessful. You can see it in action on my site, [eichefam.net](https://eichefam.net). All shortcodes in the plugin start with `aesop_`.

[2017-05-16 11:22] #581 closed

[2017-05-16 11:22] #583 closed

[2017-05-16 16:45] rayrutjes opened #590 "Conflict with WP-Rocket"
See: https://wordpress.org/support/topic/autocomplete-doesnt-work-when-logged-out/#post-9136800

[2017-05-16 17:15] tobiasvielmetter commented on #365
@peiche check #572.

this should work
``
if(function_exists( 'et_pb_is_pagebuilder_used' )) {
           $noise_patterns[] = '/\[\/?aesop_.*?\]/';
        }
``

[2017-05-16 17:32] peiche commented on #365
Apart from wrapping it in an if block, I tried that. It didn't work. Should I have to reindex first?

[2017-05-16 17:39] tobiasvielmetter commented on #365
sorry, the if doesnt make any sense. that would need to look for a function that would only be available if the said plugin is active.

yes you will have to reindex after activating, since the regex is used at time of indexing.

[2017-05-16 18:10] rayrutjes commented on #365
Actually, I think we need to find a more global solution because today I came across couple of website with some unescaped shortcodes as well.

[2017-05-16 18:14] peiche commented on #365
After a reindex, I got it working. (Thanks @tobiasvielmetter!) I was going to submit a PR with my changes. @rayrutjes should I hold off?

[2017-05-16 18:17] rayrutjes commented on #365
Well I'd gladly see the PR but I'm not sure we'll merge it. I think we need to remove all remaining shorcodes after the content was first parsed.
If we add a single regex rule for every shortcode out there, it will slow down the indexing a lot.

[2017-05-17 10:20] tobiasvielmetter commented on #365
I agree, a general regex for all shortcodes after the_content filter would be preferrable, as shortcodes are never useful in the index.

[2017-05-17 18:13] duplich opened #592 "New task sync_item was queued. error in wordpress database"
### What did you expect to happen?
Work without error tasks in my database.
### What happened instead?
![task_sync-algolia](https://cloud.githubusercontent.com/assets/3776355/26169041/95a62eda-3b3c-11e7-9207-60c93a52a13a.jpg) like 300+ of those items

### How can we reproduce this behavior?
I do not know. It seems to happen when auto update is triggered.

### Can you provide a link to a page which

[2017-05-17 19:41] rayrutjes commented on #592
Hey @duplich ,

This has been addressed starting from version 2.x.
Make sure you read the changelog before updating, and use a staging environment: https://wordpress.org/plugins/search-by-algolia-instant-relevant-results/#developers

If you previously overwrote the autocomplete.php or instantsearch.php template, you will need to take into account the new files. See: https://community.algolia.com/w

[2017-05-17 19:41] #592 closed

[2017-05-17 19:59] duplich commented on #592
Hey @rayrutjes Thanks a lot, The update solved my problem. Everything works fine now. And the search seems even faster than before. Amazing Service :)

[2017-05-17 20:01] rayrutjes commented on #592
You are welcome, glad the upgrade went smoothly.
Feel free to check out our Forum and why not share your project there ;)

https://discourse.algolia.com/tags/wordpress

Cheers!

[2017-05-17 22:46] rayrutjes opened #593 "Custom attributes docs refreshing"
https://community.algolia.com/wordpress/custom-attributes.html

This needs some refreshing to reflect new indexing strategy.

[2017-05-22 19:45] hereswhatidid opened #594 "Add filter to allow for forcing settings update on re-index"
I would like to be able to force an update of an index's settings during the re-index even if that index already exists. Currently, as of 2.0.0, the plugin no longer updates an index's settings if the index is already defined and there is no way other than using the Algolia interface to update those settings.

I've set it up on my local install and can submit a pull request but wanted to run it th

[2017-05-22 21:54] rayrutjes commented on #594
That does look very good, Thanks a lot.

Please do submit the PR.

Some comments:
- I would remove this line: https://github.com/hereswhatidid/algoliasearch-wordpress/blob/91f0666a13fe8c82b2d524d936e41aded39f0d03/includes/indices/class-algolia-index.php#L244
I think it brings little value given we can already check if the second argument is a given index.
- https://github.com/hereswhatidid/algolia

[2017-05-23 01:51] afuggetta opened #595 "Why can't I use the already indexed wp_searchable_posts with autocomplete?"
### What did you expect to happen?
Enable Autocomplete without the need to re-index duplicate records to a new index.
I would want to use the already indexed wp_searchable_posts, ideally with the possibility to filter at query time. This was not an issue on older versions of the plugin.
There may be a hook for this already but it seems like the documentation is not updated to the latest plugin.

#

[2017-05-23 10:02] BenjTa opened #596 "Deleted attachment are not deleted from Algolia index"
### What did you expect to happen?

If you delete a post in Wordpress it delete it via the function wp_delete_post() which call the hook 'before_delete_post' ... The post is deleted from Agolia Index via this Hook in \wp-content\plugins\search-by-algolia-instant-relevant-results\includes\watchers\class-algolia-post-changes-watcher.php
=> It works as expected

But if you delete a media from wordpre

[2017-05-23 12:02] rayrutjes commented on #596
Thanks for reporting this one.
Would you like to provide a PR?

[2017-05-23 12:04] rayrutjes commented on #595
Thanks for reporting this. Will try to solve this for you next week.
In the meantime, you should be able to hack your way around with the `algolia_autocomplete_config ` filter.

I indeed need to refresh the docs, which is a bit outdated. This is on my todolist.

[2017-05-23 12:30] BenjTa commented on #596
Hi,
Sorry but what do you mean by "PR" ?

[2017-05-23 12:59] afuggetta commented on #595
Thanks, @rayrutjes!

Appreciate the quick response. I will try to use that filter in the meantime.

Andrea

[2017-05-23 14:23] rayrutjes commented on #596
Hey,

By PR I meant Pull Request, which is the name of a contribution you can do on GitHub.
If you are not comfortable submitting a pull request, I'll try to find sometime to do this.

Thanks again for the feedback,

Cheers,

[2017-05-23 14:34] rayrutjes opened #597 "Add a button to override settings."
Currently there is no way to re-push settings for an index.
Let's add a button to the admin screen of the autocomplete and the search page.

[2017-05-23 15:59] rayrutjes opened #598 "Add a hook to customize record objectID generation"
By letting user override the default generated objectIDs, we can more easily merge records coming from different websites into a single index.

I propose to add:

- `algolia_get_post_object_id`
- `algolia_get_user_object_id`
- `algolia_get_term_object_id`

[2017-05-24 08:24] GaetanFa commented on #596
Hi @rayrutjes

@BenjTa and i work together, there is the PR : #599
We just add the 'delete_attachment' hook, attachment are correctly removed from the index with it.

Thanks

[2017-05-24 08:26] rayrutjes commented on #596
Perfect @GaetanFa thanks a lot.
The PR looks good to me.

[2017-05-24 10:43] gendall opened #601 "Indexing not present in side menu"
### What did you expect to happen?
'Indexing' page not visible in sub-menu of Algolia. Have tried deactivating plugins and switching themes. Only options visible are 'Autocomplete', 'Search Page'  & 'Settings'

![screen shot 2017-05-24 at 11 41 59](https://cloud.githubusercontent.com/assets/4195265/26399752/0ee8d07a-4076-11e7-92ea-5308806eb6f5.png)

### Technical info
* WordPress version: 4.7.5
*

[2017-05-24 11:45] gendall commented on #601
Hi @rayrutjes

We wanted to exclude certain post types. Do we now do this in the functions file?

[2017-05-24 11:58] rayrutjes commented on #601
Hi @gendall ,

To exclude post types for the autocomplete dropdown, you can do this on the autocomplete screen.

For excluding post types from the search page, you indeed need to use a filter, but that was already the case before.
Here you will find more information: https://community.algolia.com/wordpress/indexing-flow.html#indexing-decision

I hope that helps.

[2017-05-24 12:01] gendall commented on #601
Awesome. Thanks @rayrutjes

[2017-05-26 13:23] rubas commented on #601
@rayrutjes
How do you sync with the current version `wp_searchable_posts`?

We use the plugin to sync the data only to Algolia and use instantsearch.js manually in our templates.

[2017-05-27 21:21] chiplay opened #603 "ALGOLIA_SPLIT_POSTS causing PHP errors"
### What did you expect to happen?
I'm using the latest version of the Algolia Wordpress plugin (2.2.3) and just attempted to use the `ALGOLIA_SPLIT_POSTS` constant to prevent post splitting when I started getting some php errors:

`PHP Warning:  Invalid argument supplied for foreach() in /www/wp-content/plugins/search-by-algolia-instant-relevant-results/includes/indices/class-algolia-posts-index.

[2017-05-27 21:28] rayrutjes commented on #603
Thanks @chiplay ,

Will take a look as soon as possible.

[2017-05-27 21:32] chiplay commented on #603
@rayrutjes no problem - and thank YOU for this amazing plugin.  We're building our new CMS off this WP -> Algolia auto-indexing solution and it's pretty amazing so far.

[2017-06-01 00:06] WinstonGFX opened #604 "Cannot find or sync "usermeta" index"
### What did you expect to happen?
In the Wordpress backend, on the Autocomplete page, I expect "usermeta" to be an index name available to me. This is different than the "users" index which holds a very limited number of fields whereas "usermeta" can hold custom fields.

### What happened instead?
"usermeta" is not an option.

### How can we reproduce this behavior?
Visit the Autocomplete page in

[2017-06-02 12:30] rayrutjes opened #605 "Use delete by query once it becomes queueable"
Currently, there is no way to know the current number of records of a post of type attachment.

This is because there is no meta attached to it.

The API will soon offer a way to delete by numerical value.

We need to implement that as soon as it is available to remove the need of storing the number of records for a given post.

[2017-06-02 13:08] rayrutjes commented on #604
Thanks for reporting this @WinstonGFX , I will investigate.
If you have a solution please submit a PR.

[2017-06-02 13:16] #603 closed

[2017-06-02 13:16] rayrutjes commented on #603
Thanks for reporting this @chiplay .

Will release ASAP.

[2017-06-02 13:18] rayrutjes commented on #601
Hey @rubas do you mind opening a new issue explaining your use case more in detail?

Thanks a bunch. Closing this one given the initial subject has been addressed.

[2017-06-02 13:18] #601 closed

[2017-06-03 11:35] pixelastic opened #611 "[docs]: Missing icons for community projects"
### What did you expect to happen?
I wanted to see icons for each of the Algolia Community projects

### What happened instead?
I saw some icons missing
![image](https://cloud.githubusercontent.com/assets/283419/26753198/59de3e24-4861-11e7-84a2-be016cb8ce01.png)

### How can we reproduce this behavior?
Hovering the "Community" part on top of the screen

Can you provide a link to a page which shows

[2017-06-05 06:42] JonasBa commented on #611
Thanks @pixelastic I'll take a look.

[2017-06-08 07:49] rayrutjes commented on #611
It looks like it is fixed now. Did you handle this @JonasBa ?

[2017-06-08 08:04] JonasBa commented on #611
yes, sorry I forgot to close this :)

[2017-06-08 08:04] #611 closed

[2017-06-08 08:04] rayrutjes commented on #611
No problem, thanks for taking care of it @JonasBa !

[2017-06-08 12:08] #597 closed

[2017-06-08 12:09] rayrutjes commented on #596
PR has been merged in #606

Will release soon.

[2017-06-08 12:09] #596 closed

[2017-06-08 12:10] rayrutjes commented on #594
Merged in #607
Will release soon!

Please bear with me.

[2017-06-08 12:10] #594 closed

[2017-06-08 12:13] rayrutjes commented on #501
This issue ends up being a conflict with WP total cache plugin.
It is only an issue when:
- html minification is set to "auto" on general settings page
- and inline JS minification is turned on.

The solution is to:
- put html minification to "manual" instead of "auto"
- on the "minification" page of WP total cache, turn off inline JS minification
- make sure you clean the cache.

Please do commen

[2017-06-08 12:13] #501 closed

[2017-06-08 12:55] rayrutjes opened #615 "Send un-escaped html to Algolia"
Currently we send escaped HTML to Algolia.

The issue is that now we escape code in the frontend for security reasons.

We should make sure `&amp;` does not get outputted as is in the display.

[2017-06-09 09:05] rayrutjes opened #616 "Add a filter to allow to change autocomplete input selector"

[2017-06-13 23:56] WinstonGFX opened #617 "Access a Post's Featured Image at a Size Other than Thumbnail"
### What did you expect to happen?

I'm able to output the post featured image to the frontend using 'images.thumbnail.url', but it only allows me to post the thumbnail size image at 150x150px. I'd like my instantsearch results to be able to access and post another size such as the medium and/or large image sizes. Is this possible?

### What happened instead?

Index only has access to 'images.thum

[2017-06-15 11:46] #617 closed

[2017-06-15 11:48] rayrutjes commented on #617
Hey @WinstonGFX , I just added the answer to the frequently asked question.
See PR #618 .

Let me know if that helps.

[2017-06-15 13:04] #616 closed

[2017-06-15 14:12] #595 closed

[2017-06-15 14:13] rayrutjes commented on #595
This will be possible from the Autocomplete admin screen starting from next version 2.4.0.

Stay tuned!

[2017-06-15 14:27] rayrutjes commented on #582
Hi @pmahmoudzadeh , sorry about the delay,

**Blank tag pages:**
I'm not sure what the issue could be, do you have a live example so that I can take a look?
Looks like either the URL is wrong, or you expect it to be generated differently than the standard tag-way.

**Custom look & feel:**
To customize the look and feel, you need to add custom CSS rules to your theme.
You can also override what is

[2017-06-15 14:27] #582 closed

[2017-06-15 18:47] jeremymoore opened #621 "Cannot specify attributesToIndex and searchableAttributes at the same time"
### What happened?
While attempting to push settings using the newest version of the algolia plugin i'm seeing that attributesToIndex has been deprecated, but I can't use searchableAttributes at the same time. I see that the plugin code still uses attributesToIndex all over. Is this changed in an upcoming release? Or, am i missing something?

### How can we reproduce this behavior?
[code]

### Can

[2017-06-16 12:26] rayrutjes commented on #621
Hi @jeremymoore ,

Indeed, the API now recommends using the new "searchableAttributes" syntax because it is a more explicit name.

That being said, attributesToIndex will always be supported.

We will keep attributesToIndex for now because otherwise we might break existing implementations.

In your custom code, you should use attributesToIndex as well.

I hope that helps, let me know what you thin

[2017-06-16 12:26] #621 closed

[2017-06-20 09:02] STRAND-C commented on #616
Has this been solved now? Will this change be released in an upcoming version?

[2017-06-20 09:18] rayrutjes commented on #616
It has been solved but not released.
I will try to push a release today @STRAND-C  🎉

[2017-06-20 09:21] STRAND-C commented on #616
No worries. Thank you for doing this so quickly 👍

[2017-06-21 10:42] Mamaduka commented on #604
'usermata' shouldn't be indexed separately as it only holds data related to 'users' table (relation via 'user_id').

@WinstonGFX you should hook into `algolia_user_record` and add any custom user meta manually.

[2017-06-27 11:04] Mamaduka opened #624 "PHP Notices in WP-CLI command"
When running `wp algolia re-index <indexName>`, it generates following PHP notice:
[code]

Few other notes regarding CLI code:

- Fix coding standards to match one used across the plugin. Which I think is mix of WPCS and PSR-2.
- Use WP-CLI util function to get flag values - [`WP_CLI\Utils\get_flag_value()`](https://make.wordpress.org/cli/handbook/internal-api/wp-cli-utils-get-flag-value/).
- No n

[2017-06-27 16:02] jon-heller opened #625 "Can no longer overwrite 'content' field"
We use several ACF fields which contain the main post content. We found it easiest to just concatenate these fields together and set those to be the main content field for Algolia. We never use the main post body in WordPress, so that is always empty.

This used to work fine. Maybe the recent changes with splitting the content effected it?

### What did you expect to happen?

Using the `algolia_se

[2017-06-27 21:03] Mamaduka commented on #625
Based on index design `content` shouldn't be shared attribute, because of post content splitting. I don't think this is bug in new version, just a matter of code/index design.

Not fully tested example code, but it should do the same trick:

[code]

[2017-06-28 15:22] jon-heller commented on #625
That seems to work perfectly, thank you very much!

Also might be worth adding that filter (`algolia_searchable_post_records`) into the list of filters [in the documentation](https://community.algolia.com/wordpress/filters.html) since I don't believe it's in there currently.

[2017-06-28 15:22] #625 closed

[2017-06-29 09:28] julienbourdeau opened #627 "Disable cache on WP query to save memory"
### What did you expect to happen?

If the memory is limited your might get a fatal error. Apparently, a good way around this is to disable the object cache. [Here](https://github.com/algolia/algoliasearch-wordpress/blob/master/includes/indices/class-algolia-searchable-posts-index.php#L301-L305), you can pass an option for it.

[code]

See [support ticket](https://secure.helpscout.net/conversation

[2017-06-29 13:56] parleer commented on #415
@rayrutjes Is anyone working on this feature? We are in need of multisite support as well.

[2017-07-03 08:23] rayrutjes commented on #627
This will be done with #626

[2017-07-03 08:42] julienbourdeau commented on #627
I checked through issue but I didn't look at PRs ^^'

[2017-07-03 09:00] rayrutjes commented on #415
No @parleer, unfortunately multi-website support requires deep changes in the actual code to not introduce backward compatible issues.
We also learned going from 1.x to 2.x that WordPress community does not like backward incompatible changes, so we now try to ensure every update goes smoothly.

Here is the work we started to support multi-website: https://github.com/algolia/algoliasearch-wordpress

[2017-07-06 11:27] Haroenv opened #628 "Use InstantSearch V2"
### What did you expect to happen?

The newest version of InstantSearch is used

### What happened instead?

The version 1.11.7 is required as a file.

### How can we fix this behavior?

Simply update when there's time for it 😄

[2017-07-06 12:17] rayrutjes commented on #628
I fear it is not that simple @Haroenv.
We have to ensure 100% backward compatibility.

Users can customize the instantsearch templates, so if we push a new version, it would break existing implementations.

What we could possibly do is offer IS v2 as an opt-in option, but then we have to make sure it adds a lot of value.

[2017-07-06 12:49] Haroenv commented on #628
Yes, this obviously is not a simple upgrade, but should better happen at *some* point. I made this issue solely as a tracking issue

[2017-07-06 14:17] rayrutjes commented on #628
I'm wondering about the added value for the users vs the complexity of implementing this.

[2017-07-06 14:23] rayrutjes commented on #628
That makes sense.
This will need some syncing though, because I really do not want to break things.
We learned the hard way going from 1.x to 2.x that introducing even small backward incompatible changes is very annoying for WordPress users.
The WordPress community does not care about semver, and likes to stay up to date with latest versions.

There is unfortunately no concept of major version :/

[2017-07-06 14:24] rayrutjes commented on #628
Also, if someone wants to go with ISv2 it is a matter of overwritting the default template and loading ISv2 script and probably unregistering the isv1 script.

[2017-07-06 15:24] abrudtkuhl commented on #628
@Haroenv that was me that commented on the blog :)

What if there was a toggle to switch between versions of the API? Otherwise a V2 version as a separate plugin? Anything the community can do to help out?

[2017-07-06 16:43] Mamaduka commented on #628
I think we can introduce template version, plugins like WooCommerce are doing this since I can remember.

Then we can do something like this:
[code]

P.S. We can also display admin notice in 'Algolia Search' -> 'Settings', with upgrade suggestion and guide link.

[2017-07-07 14:02] rayrutjes commented on #628
Sounds like a plan, yet might require some work.
I'd gladly accept a PR from someone willing to use ISv2 ;)

[2017-07-07 15:29] Mamaduka commented on #628
Can send PR for this one as well.

On Jul 7, 2017, 6:03 PM +0400, Raymond Rutjes <notifications@github.com>, wrote:

[2017-07-10 08:26] rayrutjes opened #629 "[InstantSearch] Add a reset button that clears query & filters"

[2017-07-10 08:28] rayrutjes opened #630 "[doc] document usage of ACF field in instantsearch"
Add a section about how to render a custom ACF field in custom instantsearch.php template.
https://community.algolia.com/wordpress/advanced-custom-fields.html

[2017-07-12 06:31] zerbfra commented on #26
This IS a bug. When the limit is reached, it gives a 500 error on server.
Here is the php error log:

[error] 1044#0: *40656255 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Uncaught exception 'AlgoliaSearch\AlgoliaException' with message 'Operations quota exceeded, change plan to get more Operations.' in /usr/nginx/wordpress/wp-content/plugins/search-by-algolia-instant-relevant-results/

[2017-07-12 07:37] rayrutjes commented on #26
Hi @zerbfra ,

This error should be catched indeed. Can you confirm you are using the last version of the plugin?
If so, please do open a new issue so that we can address it.

[2017-07-12 16:36] zerbfra commented on #26
I'm on the last version of the plugin.
I will open a new issue

[2017-07-12 19:49] rayrutjes opened #631 "Algolia menu entry missing when using constants"
When using constants to define credentials, the Algolia plugin entry does not appear in the menu.

[2017-07-17 10:21] rayrutjes commented on #627
This is now merged in: #633 and will be released soon.

[2017-07-17 10:21] #627 closed

[2017-07-17 10:22] rayrutjes commented on #624
Wow, I actually missed this one when I came back from vacation :/

Sounds great @Mamaduka, let me know if I can help with anything.

[2017-07-17 10:24] rayrutjes commented on #604
I'm closing this for now, I hope @Mamaduka 's answer is helpful.

Let me know if there is anything else we could help with.

[2017-07-17 10:24] #604 closed

[2017-07-17 11:22] rayrutjes commented on #615
For this to work, we need to avoid calls to `wptexturize` which is registered by default to the `the_content` filter.

We can do `add_filter( 'run_wptexturize', '__return_false' );` to disable it.

We must ensure this gets called before first call to `wptexturize` but also that it gets only called when indexing.

[2017-07-17 11:24] rayrutjes commented on #615
It think this will be tricky to implement given we also need to do this as a reaction to other filters.
The best way is probably to find a way to dynamically remove the `wptexturize` calls.

[2017-07-17 11:34] #615 closed

[2017-07-17 11:59] #631 closed

[2017-07-17 22:12] ethansmith commented on #628
I think a toggle would be great. FWIW, as a user of this plugin over the past year or so (i've customized just about everything possible, to boot) it's been a little bit confusing to wrap my head around which instantsearch features are only available in v1.x, since most of the current instantsearch documentation online refers to v2.x.

[2017-07-17 23:47] ethansmith opened #637 "Best way to specify a custom index for an instantsearch view?"
### What did you expect to happen?
Ability to specify an index (other than xxx_searchable_posts) for an instantsearch view.

### What happened instead?
Not sure what the best way to do this is.

### Technical info
* WordPress version: latest as of July 17, 2017
* Algolia Search plugin version: latest as of July 17, 2017

[2017-07-18 07:57] Haroenv commented on #628
@ethansmith, overall there's not much breaking changes in v1/v2 features, it's more an internal rewrite and some folds that are smoothed out, as well as the introduction of connectors.

v1 doc: https://community.algolia.com/instantsearch.js/
v2 doc: https://community.algolia.com/instantsearch.js/v2/

Does that make it clearer?

[2017-07-18 08:41] Mamaduka commented on #637
Can you share your current code or part of it where you specify index?

I've done this few times, but just want to sure we're referring to the save "instantsearch view".

[2017-07-18 09:27] rayrutjes commented on #637
@ethansmith you are fast, I expected this feedback in about 2/3 weeks after my last release and there you go ;)

This is definitely something that is not do-able.

Should be fairly simple to implement.

Here is where we need some changes: https://github.com/algolia/algoliasearch-wordpress/blob/master/includes/class-algolia-plugin.php#L134

Adding a filter there could help.

I just need to check ho

[2017-07-18 19:44] ethansmith commented on #637
Shucks, thanks for the speedy response, guys!

Turns out I didn't look hard enough at the code that was right in front of me. Turns out it's super easy to select the target index via the `indexName` parameter in the `instantsearch` js call.

[code]

[2017-07-18 20:45] rayrutjes commented on #637
That is indeed an easy way to go about it @ethansmith .
The only drawback is that this does not work if you are only using Algolia in the backend.
I'll keep this issue open so that I can provide a better way to solve this in the future.

[2017-07-18 21:44] ethansmith commented on #628
Thanks!

Source of my confusion was that a number of months ago I was trying to use the infiniteHits widget, based on info I gathered from the v2 git repo. I kept running into dead ends and eventually came to the conclusion that it was a v2 feature, and thus unavailable to me. That said, I just tried implementing the infiniteHits widget a moment ago and it worked like a charm, so I'm perfectly hap

[2017-07-19 00:30] JeramyNS opened #638 "[doc] Screenshots out of date"
The screenshots in the documentionation are out of date.
They show 5 menu items and pages when it appear there is only 3 menu items now: "Autocomplete", "Search Page", "Settings".

Also the autocomplete page is a little confusing. Took me a second to realise that the "Configuration" area is not autocomplete specific. It also controls whether or not it gets indexed at all.
Probably just needs a sma

[2017-07-19 07:25] rayrutjes commented on #638
Thanks for the feedback, we indeed need to update the docs.
Feel free to submit a PR if you have some time.

[2017-07-19 13:33] aymg opened #640 "Content in pre tags is ignored"
Our [documentation](sparkpost.com/docs) tends to have API responses in pre tags which should be searchable. It would be great to have a filter around the `$noise_patterns` array
 in [`remove_content_noise`](https://github.com/algolia/algoliasearch-wordpress/blob/b806e3fcea6d7982928682a57fc2523426c71e1a/includes/class-algolia-utils.php#L173) so we can customize what tags get removed when indexed.

[2017-07-19 13:37] rayrutjes commented on #640
Good idea, we could introduce a new filter for this.

Feel free to submit a PR 👍

[2017-07-19 13:39] aymg commented on #640
Will do! I'm thinking `algolia_strip_patterns` or `algolia_strip_content_patterns`. Do you have a preference?

[2017-07-19 13:41] rayrutjes commented on #640
`algolia_strip_patterns` sounds good and a bit shorter 👍

[2017-07-19 13:46] aymg commented on #640
Deal 👍

[2017-07-19 13:52] aymg commented on #640
On a related note - are the `algolia_post_parser` and `algolia_searchable_post_parser` filters deprecated? They are still listed in the documentation.

[2017-07-19 14:00] rayrutjes commented on #640
Yes they are, they must be removed :/
I really need to find some time to update the docs with changes introduced in v2.

We no longer use the external parser because it was not adapted to parsing blog posts.

[2017-07-19 14:01] aymg commented on #640
Cool, I'll rip those out from the filters doc ¯\_(ツ)_/¯

[2017-07-20 03:23] mikeschinkel opened #642 "Newer releases have "v" prefix in tag"
### What did you expect to happen?

Release tags would not have a preceding "v", .e.g `2.5.0` not `v2.5.0`.

### What happened instead?

Release tags had a preceding "v."

### How can we reproduce this behavior?

Just look at GitHub list of tags.

### Can you provide a link to a page which shows this issue?

https://github.com/algolia/algoliasearch-wordpress/releases

### Technical info
* WordPres

[2017-07-20 07:45] rayrutjes commented on #642
Can you be more specific, do you encounter an error when using it with composer?
Would it be ok to just release the new tag without the "V" and keep the 2 tags that have been published with it? would be simpler.

[2017-07-20 20:30] mikeschinkel commented on #642
@rayrutjes Actually, I wrote the above before testing. It does appear to work with the `v`, but is in consistent with your earlier tags and most everyone else's tags I've seen when working with composer _(I have never seen another `v` prefix, fwiw.)_

Adding new non-`v` tags and leaving the old `v` tags as is would be fine.

So yes I am being pedantic, thanks for supporting me anyway. :-)

[2017-07-20 21:20] rayrutjes commented on #642
Composer will consider v1.x == 1.x, the v is actually ignored.
You are right though regarding consistency, and we will want to go back to the old notation probably.

Thanks for raisin the issue ;)

[2017-07-20 21:20] #642 closed

[2017-07-25 11:42] Haroenv opened #643 "[doc] readme has old logos"
This might also be the case for the icon for Wordpress, but I don't know that

[2017-07-26 11:21] rayrutjes opened #644 "Implement re-try strategy / pause - resume on re-index"
On the backend, when waiting for re-indexing to be finished, it might happen that one of the queries to the backend fails.

We have recently had a user victim of a gateway timeout.

In that case we should probably want to re-try the last query at least 2 times at couple seconds interval.

[2017-07-26 12:30] rayrutjes commented on #640
For the record, this can now be done thanks to #646 .

[2017-07-26 12:30] #640 closed

[2017-07-30 17:45] TangRufus opened #648 "How can I programmatically perform a search?"
So far, i've set up the search bar, everything is working.

Goal:
On post page:
- search related posts with current post's title, tags, categories
- get a list of related post ids
- display as it on current post page

What is the recommended way to implement it? (i.e: which classes and methods?)

Something like this from Jetpack: [Use Jetpack_RelatedPosts_Raw to build your own list of Related Post

[2017-07-31 08:18] rayrutjes opened #649 "Add a filter to override searchable post types"
Currently there is no easy way to customize the post types that should be part of the searchable_posts index (index used for the InstantSearch page).

Here is the line we should add a filter to:
https://github.com/algolia/algoliasearch-wordpress/blob/master/includes/class-algolia-plugin.php#L177

[2017-08-08 23:09] WinstonGFX opened #650 "Index Outputs Array Separated with Commas, but no Spaces"
### What did you expect to happen?
I have successfully connected my custom Wordpress post type (employees) to my Algolia index, but I'm having an issue with the output of lists of items in the index displaying as a single long comma-separated word with no spaces, leading to line-break issues in the HTML display. Instead of a comma between strings, I'd like a comma and a space between strings.

For

[2017-08-09 08:05] rayrutjes opened #651 "Avoid throwing Exception if error occurs during indexing"

[2017-08-09 23:35] #651 closed

[2017-08-10 10:30] rayrutjes commented on #644
This would also solve the when a given post is problematic during indexing.
It would skip the whole page, but that would be already better than skipping till the end of the indexing.

[2017-08-10 11:34] balazimichal opened #654 "Some of the post types are not being indexed using WordPress Algolia plugin"
### What did you expect to happen?
All post types should get indexed into Algolia's database.

### What happened instead?
I get pop up with error message telling me that "Error occured" and under the text I have excerpt (html code) of the area where the indexing function broke. In my case this is tied to Gravity Forms form being present in the content.

### How can we reproduce this behavior?
Inst

[2017-08-10 11:37] rayrutjes commented on #654
Thanks for reporting this here @balazimichal .
Do you think you could share the forms you are currently having on the website?
Is it one or multiple forms on pages? on posts?

[2017-08-10 15:50] balazimichal commented on #654
We only have such cases on pages. Good example of such page would be:
https://riverbankoxf.staging.wpengine.com/it-security-audit/

[2017-08-24 10:15] rayrutjes opened #656 "& still gets rendered &amp;"
https://discourse.algolia.com/t/indexing-symbols-not-amp/2437/3

[2017-08-28 08:38] rayrutjes commented on #605
This is now available, we should move forward ASAP.

[2017-08-29 03:52] lananas1 opened #657 "Autocomplete dropdown not displaying"
### What did you expect to happen?
I have installed and activated the algolia plugin for my wordpress site. I followed the set up instructions.

I noticed that after entering the api settings, my algolia menu did not expand to provide more options (like mentioned in the doco).
I was still able to update everything though, so this may just be an outdated document.
After I finished the set up, the a

[2017-08-29 04:01] lananas1 commented on #657
This is to do with my theme, I switched to another and it worked.
What is the CSS class for the dropdown? or what css is needed to make sure that the dropdown is not hidden.

I have tried:
.search-form {
overflow: visible !important;
}

It didn't work.
Thanks

[2017-08-29 04:40] #657 closed

[2017-08-29 10:34] #624 closed

[2017-08-31 23:49] JeramyNS opened #658 "[Security-Issue] Search key visible even when search/autocomplete disabled"
Due to the setup and multi-tenancy application I use, the public search key is something that needs to remain hidden from public view.

Imagine my surprise when viewing the source code of the WordPress website and sitting there in public view was the search key.
Both the Autocomplete feature and Search page settings are turned off, so I just assumed that would mean no code would be added to the fr

[2017-09-01 09:52] rayrutjes commented on #658
Hey @JeramyNS ,

Thanks for opening the issue.

Given the data accessible by the search API key is publicly accessible somewhere we do not consider this as a security issue.

That being said, I'd gladly accept a PR to adhere with your example.

[2017-09-04 04:04] JeramyNS commented on #658
Hey @rayrutjes
Are you saying that there is somewhere else that this API key is publicly available?

I was under the impression from your forum post below that it was possible to make the public API key secure and scoped to a given set of parameters depending on the person logged-in.
https://discourse.algolia.com/t/multi-tenant-algolia-index/147/2

[2017-09-04 07:43] rayrutjes commented on #658
Hey @JeramyNS ,

The post is referring to "secured API keys", which are keys generated on the fly in the backend.
These keys are generally used to implement multi-tenancy and let a user access only his data while restrict access to others.

There is no usage of secured API keys by default in this plugin.

[2017-09-04 14:24] rayrutjes commented on #654
Can you make a screenshot of the error?
Also, can you take a look at the XHR request in the console and screenshot that as well?

[2017-09-04 16:29] rayrutjes commented on #654
I just released a fix in 2.7.0 for an issue that might be similar to this one.
Can you update the plugin and let me know if it solves the issue?

Thanks!

[2017-09-05 03:16] JeramyNS commented on #658
Yes, absolutely, exactly what I am talking about.
I am using secured API keys to do all my search queries, meaning that I personally do not publish my search api key anywhere.
None of the search is performed on the WordPress site and the only reason I use the plugin is to sync data to Algolia.

So back to my question, are you saying that there is somewhere else that this API key is publicly availa

[2017-09-05 08:46] rayrutjes commented on #658
We take security very seriously, and if you find a security breach in the future, please don't reveal it publicly but send it to security@algolia.com instead.

In this case, the exposed key is a "public" key used for searching data that is displayed publicly to users.

If you are using this plugin outside of its initial scope which is secured, then you will indeed need to adapt the implementation.

[2017-09-05 23:12] #658 closed

[2017-09-15 12:44] raae commented on #638
I agree that it is strange that indexing is under auto-complete. As I am not using auto-complete it took me a while to realize that indexing was happening there.

[2017-09-15 12:55] raae commented on #649
This would be great, and/or the possibility to choose a specific index.

[2017-09-15 13:38] raae opened #665 "How to best combine taxonomy terms from several taxonomies into one index?"
I would like to be able to create an index that includes terms from several taxonomies. How would I go about doing that?

### Why?
On my site I let users search a database of books. Today if they search for an author, illustrator, category or tag they will get books with this term attached. But I would like to display matching terms on top so the user can go directly to that terms archive.

Howeve

[2017-09-15 21:43] rayrutjes commented on #638
This is happening her #655 🎉

[2017-09-19 10:03] a-mishra-niku commented on #649
yea same here want to search by index name for individual index .. now it results from all the indices

[2017-09-19 10:19] rayrutjes commented on #654
I hope the latest release fixed your issue.
If not, please re-open the the issue and give us some more information.

Cheers,

[2017-09-19 10:19] #654 closed

[2017-09-19 10:20] rayrutjes commented on #649
@raae @a-mishra-niku : I just opened a PR #667 , would this work for you?

[2017-09-19 17:15] d4mation opened #668 "How to combine Indices from multiple sites"
### What did you expect to happen?
Tried to add the default `getstarted_actors` Index to the Search Results (as a test before attempting to include other Indices) using an instance of the `Algolia_Posts_Index` Class via the `algolia_indices` Filter.

I expected it to not work perfectly as the data structure is different between indexed posts from this Plugin and that default data. However, from wh

[2017-09-19 19:02] rayrutjes commented on #668
Hey @d4mation ,

This is somewhat out of the initial scope of the plugin.
That being said, if you want to add external indices to the autocomplete, you could use the `autocomplete_config` filter: https://discourse.algolia.com/t/using-multiple-indices-on-wordpress/2617

Let me know if that helps.

You could also customize the template of the autocomplete dropdown by following: https://community.alg

[2017-09-20 14:19] raae commented on #649
Yes it looks like it would solve my issue of wanting only one post_type to be available in the backend search take over.

I would also be able to combine post_types into one index as mentioned in #665.

[2017-09-20 14:20] raae commented on #649
Sorry, didn't realise it was a PR (sloppy reading). I will test it locally shortly.

[2017-09-20 14:49] raae commented on #649
Tested locally and it works well.

[2017-09-20 15:06] raae opened #669 "Feature request: Have both "Use Algolia in the backend" and "Use Algolia with Instantsearch.js" active at the same time"
If javascript is disabled or broken in some way I would still like the results to be served by Algolia in the same way as when using "Use Algolia in the backend".

[2017-09-20 16:35] d4mation commented on #668
Excellent, I was hoping there was a Filter I had just not found!

So from what I'm understanding here, _both_ sites must have the same Index Prefix (So, the indices must all start with something like `wp_` as configured in the Plugin Settings) and when I add them to the `autocomplete_config` Filter, I should be _including_ the Prefix? I'm guessing in the linked example, `corporate_posts_` is the I

[2017-09-20 19:33] rayrutjes commented on #668
Not exactly,
The custom indices you want to display must have the same records structure (same attributes).
If they don't, then you will have to customize the autocomplete template like explained here: https://community.algolia.com/wordpress/customize-autocomplete.html

I hope that makes sense.

[2017-09-20 19:36] rayrutjes commented on #669
Hey @raae ,

This is already the current behavior:
- https://github.com/algolia/algoliasearch-wordpress/blob/master/includes/class-algolia-plugin.php#L130
- https://github.com/algolia/algoliasearch-wordpress/blob/master/includes/class-algolia-settings.php#L150

When instantsearch.js is enabled, Algolia is also powering the backend.

[2017-09-20 19:38] rayrutjes commented on #649
Awesome @raae ,

I'll move forward with the PR then and have it merged ASAP.

[2017-09-20 19:51] #649 closed

[2017-09-20 20:06] rayrutjes commented on #649
This is now deployed as 2.8: https://wordpress.org/plugins/search-by-algolia-instant-relevant-results/ 🎉

Thanks for your interest @raae & @a-mishra-niku !

[2017-09-21 07:09] raae commented on #669
Great, maybe just make that a little clearer in the documentation or in the option selection. Also if you mark some issues "good for first-time contributor" or something similar I might find the time to contribute.

[2017-10-04 11:59] Mamaduka commented on #656
I think this was fixed with #634, but there's no reference of this issue in PR.

[2017-10-04 15:48] rayrutjes commented on #656
That is what I thought @Mamaduka but apparently in some cases it still happens :/

[2017-10-09 12:31] #669 closed

[2017-10-09 12:37] raae commented on #665
Is the issue (use case) understandable?

[2017-10-09 12:53] rayrutjes commented on #665
Hi @raae ,

Thanks for the gentle ping here!

This is actually the best option you have.
Another solution would be to embed the term URL in every book record, but then you would have to update the logic of pushing that information yourself.

I'd be curious to see the UI you end up with. Maybe we could take a sneak peak into it to eventually give you some feedback. It's sometimes hard to give guida

[2017-10-09 12:53] #665 closed

[2017-10-09 12:53] #668 closed

[2017-10-10 09:00] rayrutjes commented on #590
This has not been reported by users in a long time so closing this until we get more information.
For the record, and in general, tuning the caching plugin's configuration solves the issue.

[2017-10-10 09:00] #590 closed

[2017-10-10 09:01] rayrutjes commented on #598
Introducing this ends up creating more issues than it solves.
As a result, we prefer to keep the objectID generation an internal concern.

[2017-10-10 09:01] #598 closed

[2017-10-10 09:02] rayrutjes commented on #629
Given we are unable to easily introduce a backward incompatible change, we will leave this out for now.
Users can always customize the instantsearch experience by [following the guide](https://community.algolia.com/wordpress/customize-search-page.html).

[2017-10-10 09:02] #629 closed

[2017-10-10 09:04] rayrutjes commented on #643
This should now be fixed by #655

[2017-10-10 09:04] #643 closed

[2017-10-10 09:04] rayrutjes commented on #638
This has now been merged in #655 🚀

[2017-10-10 09:04] #638 closed

[2017-10-10 09:18] #593 closed

[2017-10-12 15:27] raae commented on #638
What about the

Does it have its own issue? I was helping developers at a wp agency get going with Agolia and this had stopped them in their tracks before our workshop.

[2017-10-12 15:28] raae commented on #665
Thanks @rayrutjes and I will remember to take my implementation questions to the discourse.

[2017-10-12 15:48] rayrutjes commented on #638
@raae this is a bit of a technical debt.
I'm honestly not sure how to move forward from what we currently have.
What I do know, is that I don't want to introduce any backward incompatible change.

The plugin currently has 2 main features:
- autocomplete
- instantsearch.js

The autocomplete page "is" autocomplete specific, unless you build your custom search UI on top of existing autocomplete indic

[2017-10-13 08:27] topraf commented on #656
Hey I can confirm this still happens even with the latest version

[2017-10-13 08:51] rayrutjes commented on #656
Hey @topraf , thanks for jumping in.
Do you have a live example?
Also  could you provide me with the raw content you have for that article that gets wrongly outputted?

[2017-10-13 08:58] topraf commented on #656
Yes of course @rayrutjes , as always it's on https://www.cadeaux-pourris.com/ ;)
Try typing "Tech" - it's the product categories that gets written "Tech &amp; Gadgets"

[2017-10-13 09:12] rayrutjes commented on #656
Ahh it is only happening on taxonomies @topraf ? That might be the issue.

[2017-10-13 09:15] topraf commented on #656
I don't have any product with an "&" character but so far it's only in the taxonomies yes!

[2017-10-13 09:16] rayrutjes commented on #656
Alright, let me take a look then, this is very useful thank you.

[2017-10-13 09:19] rayrutjes commented on #656
I've managed to re-produce this on taxonomies (tags and categories) 🎉 :
![image](https://user-images.githubusercontent.com/5570853/31539268-6668f63e-b008-11e7-953c-323ae76a97c6.png)

[2017-10-13 09:54] rayrutjes commented on #656
@topraf you can upgrade to 2.8.1 🎉
Should be fixed now!

All you need to do is hit the `re-index` button of the impacted indices.

[2017-10-13 09:58] topraf commented on #656
That was quick; thanks!

On 13 October 2017 at 11:54, Raymond Rutjes <notifications@github.com>
wrote:

[2017-10-13 09:59] rayrutjes commented on #656
Well actually it took way too long, but the fact that you jumped in made it super simple to tackle.
Thanks again @topraf ❤️

[2017-10-13 10:04] rayrutjes commented on #650
Hey @WinstonGFX ,

It appears that the screenshot references the display on the Algolia dashboard, correct?
The display there is just to make it nice to visually identify the data.

When you get back results from Algolia, you can process the data as you wish.
In JavaScript you could for example join the items like you requested:

[code]

Unsure if that answers your question :/

Please let me know

[2017-10-13 10:06] rayrutjes commented on #648
Hi @TangRufus ,

This is a very nice use case you have here.
Unfortunately this is a bit out of scope of the plugin.

Is this something you want to do from the backend or frontend?

[2017-10-13 10:12] rayrutjes commented on #628
I'm closing this for now given this will add a lot of "noise" to the existing plugin.
I would like to not have to maintain 2*2 different templates + 2 different versions of IS.

Users that really want to leverage the V2 can customize the templates already and import IS v2 manually.

Anyway, I would expect we decouple the UI logic from indexing in the future to solve this kind of problem.

[2017-10-13 10:12] #628 closed

[2017-10-13 10:23] TangRufus commented on #648
from the backend

[2017-10-13 10:28] #637 closed

[2017-10-13 10:29] rayrutjes commented on #637
Hey @ethansmith ,

After investigation you indeed implemented it the right way.
I made sure with #676 that you can also specify your custom index in the backend.

[2017-10-13 10:34] rayrutjes commented on #656
Arf, we still have the issue for terms inside of posts and searchable posts records:
![image](https://user-images.githubusercontent.com/5570853/31542587-deba329c-b012-11e7-8c41-c9c7847d34d9.png)

[2017-10-13 11:19] rayrutjes commented on #648
@TangRufus , I just cooked a little something for you:

[code]

Let me know what you think.
I'd love to see where you are going with this.
Definitely a very interesting use case that I wanted to implement since long time.

Let's keep in touch!

[2017-10-13 16:07] ethansmith commented on #637
Thanks @rayrutjes !

[2017-10-19 14:32] MrKoopie opened #679 "[WPML integration with Algolia Search] Can not synchronise multi-language"
### What did you expect to happen?
Index all the selected posts in all languages.

### What happened instead?
Only the English posts are synchronised. When I switch in the back-end to Dutch, only the Dutch language gets synchronised. I have used the integration suggestion as shown in https://community.algolia.com/wordpress/wpml.html by creating a plugin file in mu-plugins. It does transport the la

[2017-10-23 07:34] ypantig opened #680 "Indexing ACF Fields"
Hi there,

I added custom field data into the record to be indexed and now the record size is bigger than the quota that was set. Is there anyway to go about this? I've reached out to Algolia and they suggested using [distinct](https://www.algolia.com/doc/guides/ranking/distinct/?language=php#setting-distinct-at-index-time) but since it doesn't look like there's a hook to do it (and it works via J

[2017-10-23 07:53] ypantig commented on #680
I was that I can adjust the [indexing settings](https://community.algolia.com/wordpress/indexing-settings.html) and `distinct` is set to `true` by default. Here's a screenshot of the error that I'm getting.

<img width="519" alt="screen shot 2017-10-20 at 2 48 25 pm" src="https://user-images.githubusercontent.com/8999926/31877569-d50d5b7c-b78b-11e7-83fd-22f85ab6e3ed.png">

Any ideas on how to opti

[2017-10-23 07:53] rayrutjes commented on #680
Hi @ypantig ,

The plugin uses the distinct feature by default: https://community.algolia.com/wordpress/index-schema.html

However it uses distinct on the `content` field, which in general is the field causing issues.

In your case you might want to truncate the content of your attribute.

Can you tell me more about the attribute causing issues, what it contains?

[2017-10-23 07:58] ypantig commented on #680
Hi @rayrutjes,

Thanks for getting back to me. I've added more info above. As well, I tried appending the custom field content to `content` and it's not getting appended for some reason.. Any ideas..? In the above function, I changed `extra_content` to say `content` and made sure that it said `$attributes[ 'content' ] .= $content;` on both instances

[2017-10-23 07:58] dominicpedro opened #681 "Indexing taxonomy does not include child terms"
### What did you expect to happen?
When I tag a post with a child term, I would expect the parent term to also be included in the indexing. Currently it does not. Default Wordpress behaviour is to include any child terms in the parents archive. So if I create a categories **parent** and _child_ and make them nested   **parent** > _child_  then when i tag a post with _child_ and go to the **parent*

[2017-10-23 08:38] ypantig commented on #680
Even if I try to do `$attributes[ 'content' ] = $content;`, the content is still not getting appended. I know there's content for a specific page the I'm testing on since the `extra_content` attribute is not empty before I did the switch to `content`.

[2017-10-23 08:42] rayrutjes commented on #681
Thanks for opening an issue @dominicpedro .

I that is true, then we should indeed include those parent tags in the records.
It's a surprise for me given in the admin UI of a post, you can choose to only select a child category by leaving the parent of that term unchecked.

We also have to think what makes most sense in terms of search experience.

Finally we have to think about backward compatibi

[2017-10-23 08:49] rayrutjes commented on #680
What is the hook you are using?
.
I think the reason why your content is not being append is because it has already been splitted.

Maybe you could try to append the given content to the native `wp_content` hook we are using here: https://github.com/algolia/algoliasearch-wordpress/blob/master/includes/indices/class-algolia-searchable-posts-index.php#L82

Right after that line, content gets explode

[2017-10-23 08:51] ypantig commented on #680
I may have found the issue. I think I'm missing some fields in the function, which for some reason I wasn't when I was using the `extra_content` attribute that I added in. I'll keep you posted.

[2017-10-23 09:00] ypantig commented on #680
Quick question, so I'm using the `algolia_searchable_post_shared_attributes` filter. I should be able to check what the page is using as a template correct..? That's what I'm having an issue on now (please let me know if you'd like me to create a new issue for this one).

So before, with the `extra_content` attribute, it's going through the switch statement I had up there. But for some reason now

[2017-10-23 10:03] ypantig commented on #680
I did some error logging and it looks like the content is being added to the attributes for the templates, but not getting to Algolia.. Here's a screenshot:

<img width="998" alt="screen shot 2017-10-23 at 3 01 44 am" src="https://user-images.githubusercontent.com/8999926/31883384-92dcd6a2-b79e-11e7-942d-45bb9de031c9.png">
<img width="714" alt="screen shot 2017-10-23 at 3 02 04 am" src="https://us

[2017-10-23 12:32] ypantig commented on #680
Hi @rayrutjes any thoughts on the above?

[2017-10-23 14:31] ypantig commented on #680
Hi @rayrutjes,

I was able to fix it by adding 3 lines of code in the plugin. I'll submit a PR as you suggested.

Here's the lines of code that I added in:

[code]

[2017-10-23 20:16] rayrutjes commented on #680
Thanks @ypantig ! I made a comment on the PR.
Really appreciate you tackled this!

[2017-11-02 14:41] #605 closed

[2017-11-06 13:36] #680 closed

[2017-11-06 13:38] #650 closed

[2017-11-06 13:39] rayrutjes commented on #648
I hope you managed to implement what you wanted @TangRufus !

[2017-11-06 13:39] #648 closed

[2017-11-10 15:52] rayrutjes opened #688 "Investigate multi-website feasability again"
Now that we use the new deleteBy method, we should see what it means to merge multiple website's indices.

[2017-11-17 09:10] Jurero123 commented on #529
Is it possible that this will not index price attribute on products that are out of stock?

[2017-11-17 12:20] rayrutjes commented on #529
Unsure @Jurero123 , but it might have to do with WC3 vs WC2.

[2017-11-20 20:21] dhavalgshah opened #689 "Plugin still using Instantsearch.js v1.11.7 instead of latest v2.2.5"
Hi,

Any particular reason that WordPress plugin is still using v1.11.7 of Instantsearch.js instead of latest v2.2.5?

Are there any conflicts which I should be aware of in case I want to replace the older version with newer in my WP install?

[2017-11-20 20:29] rayrutjes commented on #689
This has been discussed in #628 .
For now, the work to be done to upgrade to IS v2 is to high if we want to keep backward compatibility.
Having the 2 versions along each other would also be problematic in terms of support.

I haven't tried manually using v2 with existing index but I don't see any issue doing so as long as you follow the [InstantSearch v2 documentation](https://community.algolia.co

[2017-11-21 22:55] 2aces commented on #689
@rayrutjes following what has been discussed here and in #628 . What would you suggest as a "safe" path for those of us willing to try integrate v2? I see the 1.11.7 uses a preact version and preact is something I have no experience yet, so it's not clear what should we do.

[2017-11-21 23:00] rayrutjes commented on #689
@2aces preact is an internal concern of InstantSearch V2 AFAIK. You shouldn't need to work with it directly.

I would recommend creating your very own template and not rely on existing code. Just enqueue the InstantSearch library and start implementing your search.

You can definitely ask for help about InstantSearch on our forum: https://discourse.algolia.com/

[2017-11-22 13:34] 2aces commented on #689
Thanks @rayrutjes

[2017-11-22 13:49] #689 closed

[2017-11-29 12:36] ValentinJcqmt opened #691 "Create / customizing indexes"
I need 3 types of algolia search bar with autocompletion:
- Searching in all custom posts "annonce" but only looking for user input matching one custom field (Search bar on page "A")
- Searching in all custom posts "annonce" but only looking for user input matching the terms associated with the posts (another search bar on page "A")
- Searching in custom posts "annonce" but only looking for user i

[2017-11-30 18:51] damarusama opened #692 "Where would I change the code to open a new tab when clicking on a search result"
I would like to be able to open a new tab when clicking on a search result.

I cannot find where/ what to change to do that.

[2017-12-04 13:36] d4mation commented on #668
I wasn't able to get to this until significantly after you replied, but I wanted to say thanks! I ended up getting it to work after looking at your links as well as the source itself.

It seems like there's no way to include results from these other indices on the InstantSearch page aside from adding those results directly into your `searchable_posts` index, right? At least without not heavily mod

[2017-12-04 14:03] rayrutjes opened #693 "Use orderBy "post__in" to simplify backend search ordering"
https://codex.wordpress.org/Class_Reference/WP_Query#Order_.26_Orderby_Parameters

[2017-12-08 14:44] rayrutjes opened #694 "Buttons are submitting the forms in Firefox"
On autocomplete page, when hitting "re-index" or "push settings" it submits the forms instead of just running the ajax request.

[2017-12-08 18:39] ethansmith commented on #644
This case (via a query error) has happened to me a few times, and has usually gone unnoticed (until later) with large record sets. In no case has an error notice been generated.

Some alternative behavior, or even just an error dialog, would be great!

[2017-12-08 18:46] ethansmith opened #695 "Function for single record index request?"
I'd like to trigger user indexing via several hooks, so that user records get indexed/updated when a user does things like adding comments, adding friends, joining groups, etc.

Is there a function that I can use to trigger reindexing of a particular user_id (or post_id, for that matter)? Right now I'm just calling wp_update_user(...) as a workaround.

Thanks!

[2017-12-13 10:10] rayrutjes commented on #694
Also seems to happen on InternetExplorer.

[2017-12-20 23:24] WinstonGFX commented on #604
Adding user data to `algolia_user_record` has been successful, but I'm having an interesting added issue:

In my Algolia backend, users are only indexing and showing if the user has published a post. Any users with zero posts is not included. I assume it is something in `functions.php`, any idea how to get all users indexed?

[2017-12-20 23:48] rayrutjes commented on #604
Hey @WinstonGFX ,

Indeed, by default we only index [users that have at least one post](https://github.com/algolia/algoliasearch-wordpress/blob/master/includes/indices/class-algolia-users-index.php#L26).

To index everyone, you can add the following to your `functions.php` file:

[code]

You will need to "re-index" all users from the "autocomplete" page of the plugin.

[2017-12-21 13:13] rayrutjes opened #697 "Avoid window.location in powered by"
The way we currently redirect a user when clicking on the powered by logo is sometimes flagged as phishing attempt.

We need to implement this in a cleaner way.

[2017-12-22 10:20] rayrutjes commented on #697
This is the security scanning service that triggered the warning:

https://www.gravityscan.com/

It considers it to be a "low level malware" and rates it as 1 out of 10 on the malware severity scale. The Malware type is "Malicious Redirects":

https://www.gravityscan.com/help/malware-removal/malicious-redirects/

[2018-01-04 10:01] #694 closed

[2018-01-04 14:40] #693 closed

[2018-01-04 14:45] rayrutjes commented on #692
Hi @damarusama ,
I think you are requesting this feature for the autocomplete dropdown experience.

This is unfortunately not possible for now.

Please follow the issue here: https://github.com/algolia/autocomplete.js/issues/207

I'm closing this one until it becomes actionable.

[2018-01-04 14:45] #692 closed

[2018-01-04 14:53] rayrutjes commented on #681
I'm closing this due to inactivity. Please feel free to re-open if needed.

[2018-01-04 14:53] #681 closed

[2018-01-04 14:59] rayrutjes commented on #691
Hi @ValentinJcqmt sorry about the delay on this one.
What you are asking is out of scope of the plugin.

If the records are the same but the ranking different, you can leverage replicas.
This is explained here: https://community.algolia.com/wordpress/replicas.html#algolia-search

I hope that helps.

[2018-01-04 14:59] #691 closed

[2018-01-05 08:25] rayrutjes opened #701 "Loosen search only API key validity check"
When a new Algolia member is created on an app, his search only API key also has the following scopes:
- settings
- listIndexes

We should allow does keys.

[2018-01-05 12:20] #701 closed

[2018-01-08 13:05] rayrutjes commented on #695
Wow, this one slipped through, sorry about the delay.

I think using `wp_update_user` is fine.

Another way of doing it for the users for example would be to get an instance of the watcher, and call `sync_item`: https://github.com/algolia/algoliasearch-wordpress/blob/master/includes/watchers/class-algolia-user-changes-watcher.php#L40

The problem being that those watchers are currently not retriev

[2018-01-08 18:14] ethansmith commented on #695
Thanks, Ray!

[2018-01-08 18:14] #695 closed

[2018-01-12 10:04] rayrutjes opened #705 "perf: optimize deleteBy usage"
Currently we use the new deleteBy endpoint to delete all records by their IDs before sending up to date records for that post.
Every time Algolia receives a deleteBy request it has to re-build the index in order to process the task.

To limit the number of index re-builds we should delete the posts by batches.

In the re-indexing process, we should first delete all post by IDs, then update them.

[2018-01-15 20:44] #705 closed

[2018-01-15 22:00] rayrutjes opened #708 "Remove usage of deleteBy"
We introduced deleteBy to delete records in a recent version.
Unfortunately, this results in an increase on the indexing time.

We need to rollback and avoid using deleteBy.

[2018-01-15 22:50] rayrutjes opened #710 "Call delete item when re_indexing"
Currently in the re-indexing flow, we never delete old post records.

[2018-01-15 22:51] #708 closed

[2018-01-18 16:37] rayrutjes opened #712 "Send referer from backend"
Allows to restrict access per referrer.

[2018-02-01 06:49] iamsahmad opened #713 "Algolia search is showing all languages in search title."
I am using qtranslate x multilanguage plugin and algolia search, but the problem now is Algolia search is showing all of my languages in search titles(on search result page and autocomplete).

**Can you provide a link to a page which shows this issue?**
Yes, here is the link: https://dxboffplan.com/new/villas-for-sale-sharjah/?s=&is_v=1

### Technical info
* WordPress version: Latest Version
* Alg

[2018-02-01 10:53] rayrutjes commented on #713
Hi @iamsahmad,

So far the plugin is not compatible with Qtranslate.

The reason being that it impacts the way you index data, the way you present it. So it changes more or less all the plugin's logic.

We have some users that manage to make it work, however I'm not sure how they did it.

I'm closing this one as we do not plan to make the plugin compatible anytime soon.

All other translation plug

[2018-02-01 10:53] #713 closed

[2018-02-21 14:57] jdwallace12 opened #716 "Is there a way to stop posts from being indexed based on wordpress tags?"
Hey there, I have some legacy posts that I do not want to delete but do not want them to show up in the search results.  I have all these post tagged in wordpress under the same tag, is it possible to not index a particular post with a tag?  Thanks!

[2018-02-26 08:37] ClaudiuCeia opened #718 "How to split larger custom post types into multiple records?"
### What did you expect to happen?
I'm hitting the 10kb on some custom types, and also on a couple of pages which use custom fields. I understand why the limit is set, I'm just unsure on how I can create multiple records for the same post using `add_filter('algolia_searchable_post_shared_attributes', $callback, [...])`.

I was expecting for the splitting to be either:
- Done automagically
- Done b

[2018-02-26 10:00] ClaudiuCeia commented on #718
So I found this: https://github.com/algolia/algoliasearch-wordpress/blob/b139d48772377e0b5b0db6356a88f953013a345d/includes/indices/class-algolia-searchable-posts-index.php#L82

After seeing this: https://github.com/algolia/algoliasearch-wordpress/issues/680#issuecomment-338678238

I tested locally and `add_filter('algolia_searchable_post_content', $cb);` could almost be a solution, but how am I go

[2018-02-26 10:33] ClaudiuCeia commented on #718
Sorry for rushing into this, this thing came up as a blocker right before a big project launch and I really need to find a fix - hence the PR.

[2018-02-26 11:42] Mamaduka commented on #716
You can use [`algolia_should_index_post/algolia_should_index_searchable_post `](https://community.algolia.com/wordpress/indexing-flow.html#indexing-decision) filters.

[code]

Haven't tested the code, but general logic should be something similar.

P.S. Probably will have impact on indexing performance, since `has_term` has to query DB for each record.

[2018-02-26 14:07] rayrutjes commented on #716
Thank you so much @Mamaduka for commenting on this.

@jdwallace12 please give the above solution a try.

Feel free to re-open this if needed!

[2018-02-26 14:07] #716 closed

[2018-02-26 14:52] rayrutjes commented on #718
@ClaudiuCeia sorry for the delay in the processing of your request.
Your PR has been merged in #721 and should be released today or tomorrow.
I'll leave this open until then.
Can you confirm that new PR will solve your issue?

[2018-02-26 15:21] rayrutjes commented on #697
Closing this for now as we lack information to be able to reproduce it.

[2018-02-26 15:21] #697 closed

[2018-02-26 15:53] rayrutjes commented on #718
Please checkout the 2.10.0 version of the plugin and let us know if you manage to achieve what you had in mind.

Feel free to re-open if needed!

[2018-02-26 15:53] #718 closed

[2018-02-27 13:24] sebastiansson commented on #168
Hi!

What's the status on this? I've added `facetFilters: 'wpml.language_code:'` to autocomplete.php, and it works. But of course I don't want to modify the plugin files directly. How do we solve it? I tried to find something explaining this in your docs, without success.

Or do you guys see this as something where we should use the autocomplete.js library separately instead of the out-of-the-box

[2018-02-27 14:28] rayrutjes commented on #168
Hey @sebastiansson , indeed I would recommend not customizing the plugin files directly.
Instead you can copy paste the autocomplete.php file in your own theme folder under a directory called Algolia.
You can customize that new file instead.

This is explained here: https://community.algolia.com/wordpress/customize-autocomplete.html#algolia-search

Does that make sense @sebastiansson ?
If by any c

[2018-03-06 08:44] rayrutjes opened #724 "Escape loop"
Since we merged #715 attributes in autocomplete dropdown gets escaped multiple time.

@diedexx , it seems like the change you made introduced the issue.
When focusing, defocusing and focusing again on a search input, the description of autocomplete entries get escaped multiple times.

Let me know if you have an easy fix in mind.

[2018-03-06 11:26] rayrutjes commented on #724
Actually the error is on autocomplete not instantsearch so it is unrelated to #715.

[2018-03-06 14:34] #724 closed

[2018-03-06 19:36] jdozierezell opened #730 "Indexed attributes not appearing in search"
### What did you expect to happen?

Using the code below (modified from https://community.algolia.com/wordpress/advanced-custom-fields.html), Algolia should add the attributes indicated and make them searchable. The attributes are being added to the index, but the search returns an empty result. Any ideas what's missing here?

[code]

### Technical info
* WordPress version: 4.9.4
* Algolia Search

[2018-03-07 06:49] rayrutjes commented on #730
Hey @jdozierezell ,

That looks rather good to me.
Did you hit the "push settings" button after having introduced the usage of the 2 filters?

If that doesn't work, maybe deleting the indices and re-indexing?

[2018-03-07 14:52] jdozierezell commented on #730
Thanks @rayrutjes. I've been pushing settings and reindexing without success. I just tried deleting but that didn't work either. Any chance that this is related to the Algolia shift from attributesToIndex to searchableAttributes? I tried both and neither worked, but I'm wondering if there's a conflict somewhere.

[2018-03-08 14:40] rayrutjes opened #731 "Powered by logo not able to be displayed twice"
Currently, because of a limitation of SVG we are unable to properly display 2 Algolia logos on the same page.

We need to change the way SVGs are inlined in the autocomplete+instantsearch experiences.

![image](https://user-images.githubusercontent.com/5570853/37156679-1490913a-22e7-11e8-885b-1089fcf250e1.png)

[2018-03-12 10:30] PaKZer0 opened #732 "New filter hookup: Change post type's index name"
### What did you expect to happen?
I looked up over the docs and through the code to find if there's a way to override the algolia index name that the plugin would use to store certain post type data.

### What happened instead?
I could't find any filter hookups for the task, so I made up my own. I thought about setting a serious PR, but the required change is minimal, so I made a quick gist for t

[2018-03-12 11:43] rayrutjes commented on #732
Hi @PaKZer0 ,

Thanks for opening this.
I'm worried about the additional mental overhead this introduces.

I'd love to hear more about your usage of this. Does it mean that depending on the post type, you will dispatch content to different indices?

This might break other behaviour like clearing indices, pushing settings, no?

[2018-03-12 11:47] PaKZer0 commented on #732
Yes, in fact I've been trying to hack this and my minimal gist is not enough. What I'm trying to do is to index two different post types on the same index.

[2018-03-12 12:13] rayrutjes commented on #732
I see, do you actually use the "searchable posts" index for something already?
Otherwise you could use that one, and remove the post types that you do not need.

[2018-03-12 12:25] PaKZer0 commented on #732
I'm not currently using the "searchable posts" index and it is a good solution for the current situation, but I also forgot to mention that setting a custom name for the indexes (besides the prefix) may be also desirable for the site I'm working on.

(I forgot so say thanks btw ^_^)

[2018-03-12 12:29] rayrutjes opened #733 "Do not load Algolia when on AMP format"
Currently it seems like we try to inject Algolia in the AMP format which doesn't work as of today.

We should try to find a way to avoid that behaviour.

[2018-03-12 13:23] rayrutjes commented on #732
I'm mostly interested in the reason of that so that I can eventually guide you to a solution.

If you are not using the searchable posts for now, you could use that index and filter out the post types there.
Here is an example: https://gist.github.com/rayrutjes/6b1de96b3687b937086428c37bf144f9
You can basically return just an array containing the post types you want. Not sure if that helps let me

[2018-03-12 14:02] PaKZer0 commented on #732
I'm sorry if I'm being a bit dodgy. Basically I'm migrating a wp site which is using Algolia as a search/indexing engine, the old site was using the old Maven Algolia and the reason behind the name override is mantaining a legacy index with the same contents but changing the plugin backend.

[2018-03-12 14:28] rayrutjes commented on #732
Thank you for sharing the context.

Quite honestly, you are about to introduce a lot of complexity.

I wouldn't recommend moving forward in this direction given the Maven plugin has nothing in common with this plugin.
Chances are you are going to loose a lot of time.

The best you can do is keep the old index as a temporary solution and start using the new ones.

You can customize the autocomplete

[2018-03-12 14:38] PaKZer0 commented on #732
Thanks anyways =)

[2018-03-12 14:47] rayrutjes commented on #732
You are welcome @PaKZer0 .
Sorry to not have an easy solution here.

Please re-open an issue if there is anything else you'd like to discuss.

[2018-03-12 14:47] #732 closed

[2018-03-13 14:03] rayrutjes opened #734 "Quotes are double escaped"
It seems like quotes get double escaped in the following scenario:
- submit a search input with a query containing `'`
- resulting page displays the query with escaped value instead of the quote
![image](https://user-images.githubusercontent.com/5570853/37346473-aef64472-26cf-11e8-9bd1-14434c800cf2.png)

[2018-03-15 11:22] adam1920 commented on #54
$ sudo apt-get install php-curl

[2018-03-17 20:08] rayrutjes opened #735 "Display issues of search results page"
The logo is not displayed:
![image](https://user-images.githubusercontent.com/5570853/37559462-0c25b740-2a27-11e8-9db1-d3a51b3ba14e.png)

[2018-03-21 13:48] rayrutjes commented on #688
We removed delete by for now given the limitations of the feature.
Global search across WordPress instances is currently not do-able with this plugin.

[2018-03-21 13:48] #688 closed

[2018-03-21 13:50] rayrutjes commented on #712
This would require the server to be properly configured.
As a result, let's not implement this for now as it will introduce more complexity.

[2018-03-21 13:50] #712 closed

[2018-03-21 13:52] rayrutjes commented on #730
Hey @jedrzejchalubek could it be that you are testing on the searchable posts index?
Because I don't see the settings applied on that index:

[code]

[2018-03-21 13:54] rayrutjes commented on #734
I've been unable to re-produce this.
It seems unrelated to this plugin.

[2018-03-21 14:58] jdwallace12 commented on #716
Thanks @Mamaduka and @rayrutjes  for your response.  This seems to only index posts with this tag, I am non wordpress developer, so maybe I am missing something obvious.  The code you sent seems straightforward but I am not sure what "has_term" comes from.  Is there a "does_not_have_term" function or something like that?  Thanks!

[code]

[2018-03-21 20:04] jdwallace12 commented on #716
this worked for me, thanks again
`add_filter( 'algolia_should_index_searchable_post', function( $should_index, WP_Post $post ) {
	if ( false === $should_index ) {
		return false;
	}

	return has_term( 'TraceView', 'post_tag', $post );
}, 10, 2 );`

[2018-03-22 00:15] mtskf opened #738 "I cannot disable the template loader on front-end..."
### What did you expect to happen?
I use the plugin only for indexing, and set Search Page option to "Do not use Algolia".
I don't use the plugin scripts on front-end at all.

### What happened instead?
However, still it prints the header scripts on front-end and causes errors.
(as I don't use jQuery...)

[2018-03-22 14:33] rayrutjes commented on #738
Hey there, do you have a live example?
Can you confirm you didn't enable the autocomplete experience?

[2018-03-22 22:26] mtskf commented on #738
Thanks @rayrutjes !
I didn't notice the autocomplete option!
That solved the issue, great! :) 👍

[2018-03-22 22:26] #738 closed

[2018-03-28 10:31] harshmaur commented on #208
Hi @rayrutjes, I was looking for a feature to enable complete urlSync on my wordpress instantsearch page. I do not see any option yet to enable to same. Can we have it?

[2018-03-28 12:01] codedbyrob opened #741 "instantsearch.widgets.menuSelect is not a function"
When trying to add a menuSelect widget, I get the console error `Uncaught TypeError: instantsearch.widgets.menuSelect is not a function`. Am I right in thinking that this plugin ships with InstantSearch v1, whereas menuSelect is a v2 feature?

If so, is there any way of utilising menuSelect with this plugin?

Thanks a lot

### Technical info
* WordPress version: 4.7.2
* Algolia Search plugin versi

[2018-03-28 14:15] rayrutjes commented on #741
Hi @codedbyrob ,

You are right to assume the plugin ships only with v1 thus far because we need to maintain backward compatibility.

I'm not sure there is a `menuSelect` widget in v1 though.

One of your options would be to disable instantsearch in the frontend, and load the v2 library from a CDN and do your custom templating.

[2018-03-28 14:16] rayrutjes commented on #208
Hey @harshmaur ,

What do you mean by "complete"?

[2018-03-28 14:47] harshmaur commented on #208
Hi @rayrutjes , Currently it tracks ['q'] and one more variable I think. However if someone selects a category or goes to next page, I want those to be tracked in the url as well. So by complete, I want algolia to track all the parameters which we get when we use instantsearch.js by manual implementation `urlSync: true`

[2018-03-28 14:53] rayrutjes commented on #208
I see @harshmaur ,
I now remember that this is because we thought it was more important to track the native `s` query than the other ones.
The issue is that the `s` parameter is a query param, and the other ones would eventually be hashtags.
As of today, instantsearch v1 doesn't support mixing hashtags and query parameters in the urlsync feature.

[2018-03-28 16:19] harshmaur commented on #208
I dont know if I quite understood you @rayrutjes. Which hastags are you talking about? I have used vanilla instantsearch.js in one of my projects before and I used to get tracking for all filters I applied.

Are you saying its not possible to do in wordpress yet?

[2018-03-28 17:37] rayrutjes commented on #208
Actually it is possible if you choose to pass the the `s` parameter as an anchor instead of as a query parameter.
Replacing the value of urlSync here with an empty object or `true` should do the trick: https://github.com/algolia/algoliasearch-wordpress/blob/master/templates/instantsearch.php#L58

[2018-03-28 17:40] harshmaur commented on #208
Well @rayrutjes I would have done that, but I thought if there is an easier way without modifying the plugin itself.

[2018-03-28 17:45] rayrutjes commented on #208
You can duplicate the template file in an "algolia" folder of your theme: https://community.algolia.com/wordpress/customize-search-page.html#algolia-search

[2018-03-28 18:06] codedbyrob commented on #741
Hey @rayrutjes,

Thanks very much for confirming, and for the suggested solution. Think I've got my approach sorted now.

[2018-03-28 18:06] #741 closed

[2018-03-29 10:24] rayrutjes opened #742 "Remove fixed position on autocomplete dropdown on mobile"
On mobile there is currently no way of scrolling in the autocomplete dropdown menu.
We need to remove the fixed positioning when the screen gets small.

[2018-04-05 18:55] harshmaur commented on #208
It only broke the code and algolia started giving this weird error. `Invalid value for "synonyms" parameter, expected boolean`

[2018-04-09 14:55] harshmaur commented on #208
@rayrutjes Can you help?

[2018-04-12 09:20] ShaklinSyed opened #743 "[Customize Autocomplete drop-down] ISSUE NAME HERE"
### What did you expect to happen?
To Update the layout of autocomplete.

### What happened instead?
I made the changes and they don't reflect on the page.

### How can we reproduce this behavior?

I created a new folder in my theme folder. I tested it by naming both Algolia & search-by-algolia-instant-relevant-results(since when we install Algolia, it creates the name of the folder as such). Adde

[2018-04-12 09:59] rayrutjes commented on #743
Hello @ShaklinSyed , could you make a screenshot of your expanded directory structure?

You should have something like:
- wp-content/themes/your-active-theme/algolia/autocomplete.php

[2018-04-12 14:55] #168 closed

[2018-04-23 12:30] sebastianthulin opened #746 "Trashed posts is searchable"
When a page is deleted WordPress adds the suffix __trashed to the url of the page. Still, the post is appearing in autocomplete-searchresults.

### What did you expect to happen?
The post should not appear in search results. It should be handles similar to a unpublished post in both autocomplete and search-page.

### What happened instead?
The post is searchable.

### How can we reproduce this beh

[2018-04-23 13:15] rob-wood-browser opened #747 "Searchable posts index replicas not appearing in dashboard"
### What did you expect to happen?
Custom replicas of the searachable_posts index to appear in the Algolia dashboard

### What happened instead?
Replicas tab is still empty in the dashboard

### How can we reproduce this behavior?
I've added the following to my functions.php file and pushed my settings via the plugin. Can't work out what i'm doing wrong!

`add_filter( 'algolia_index_replicas', 're

[2018-04-23 17:49] rayrutjes commented on #746
Hi @sebastianthulin ,
By default this plugin will remove trashed posts from the index.
Could it be that you are using a plugin that somehow interfers with the post hooks?
Or maybe you have a special plugin that is handling your trashed posts?

[2018-04-25 06:36] sebastianthulin commented on #746
I can't recall such behaviour from another plugin, i will do a clean install and submit a video.

[2018-04-25 06:51] sebastianthulin commented on #746
I have located it to one of your own themes. I will try to find whats causing this behaviour.

[2018-04-25 06:58] #746 closed

[2018-04-25 06:59] sebastianthulin commented on #746
Behaviour was caused by a faulty if-statement in our own "algolia_should_index_searchable_post" filter.

[2018-04-30 13:28] rayrutjes opened #749 "Check that the replica works as mentioned in he docs"
A user has an issue getting replicas being created.
We should try follow the docs to see if there is an issue.

Also we should try it in the scenario where the index already exists, maybe there is a problem in that case.

[2018-05-04 10:14] rayrutjes opened #751 "Character from the URL is escaped in search input"
When special chars get submitted, they are urldecoded and then escaped.
As a result, the search input contains chars like `&amp;` which is not expected.

[2018-05-08 17:32] pleek91 opened #752 "Rate Limiting Index Operations"
Is there a way to rate limit index operations? My site is using 100s of thousands of indexing operations. Which seems excessive. Is there a way to limit the number of indexing operations or choose how often a post is indexed?

I’m assuming posts are reindexed every time they are updated. But in this case I have thousands of posts (type product) being updated every day. But they don’t need to be re

[2018-05-09 06:47] rayrutjes commented on #752
Hello @pleek91 ,

Could you tell me a bit more about was is qualified as "unnecessary" indexing operations?
The plugin does its best at keeping your data in sync with Algolia. That is what most users expect by default.

You can disable auto synchronization and re-index manually whenever you see fit: https://community.algolia.com/wordpress/indexing-flow.html#queue-processing

You can also leverage

[2018-05-09 14:34] pleek91 commented on #752
@rayrutjes

Thanks for your response. They're unnecessary operations for my project as the piece of data I'm updating doesn't affect my search results. So I'm using up thousands of indexing operations with little benefit to my application.

I agree keeping the data in sync is the expected behavior, no complaints there. But since my site updates thousands of posts each day its getting out of contro

[2018-05-09 23:19] ronknight opened #753 "Search page disabled scroll bar"
### What did you expect to happen?
Perfectly normal page with enabled scrolling.

### What happened instead?
Our search page does not allow users to scroll the window upon initial loading of the page (https://labomedproducts.com/?s). Scrolling of window is restored by maximizing the browser window or zooming.

### How can we reproduce this behavior?
Here’s a video so that you could replicate the i

[2018-05-14 08:04] rayrutjes commented on #753
Hello @ronknight ,

It seems you have an `y-overflow` directive on hour search results page disallowing the scrolling.

In order to resolve your issue you need to adjust your CSS rules and remove that directive.

[2018-05-14 09:20] dhvani-barot opened #754 "Partial search from the words/string"
### Algolia search should bring related words containing posts

### Showing no results found  [ https://prnt.sc/jhlnjs ]

### Try to search for " What if I'm dilating" in our site[ https://staging.birthpedia.net/ ] search box.

https://staging.birthpedia.net/

### Technical info
* WordPress version: Version 4.9.5
* Algolia Search plugin version: Version 2.10.2

Note that we're new to this plugin a

[2018-05-14 12:01] rayrutjes commented on #754
Hello @dhvani-barot ,

Your issue is not specifically tied to this repository and is more a general relevance question.

Let me still try to give you some clues here.

I suggest you try to change the [optional words parameter](https://www.algolia.com/doc/guides/textual-relevance/optional-words/) and/or the [queryType](https://www.algolia.com/doc/api-reference/api-parameters/queryType/) to `prefixA

[2018-05-14 17:28] ronknight commented on #753
Hi @rayrutjes ,

That solved the issue we are having. Thank you.

[2018-05-15 06:17] dhvani-barot commented on #754
Thank you.
I have e-mailed you.

[2018-05-15 08:18] rayrutjes commented on #754
👍 closing this issue in the meantime.

[2018-05-15 08:18] #754 closed

[2018-05-15 14:52] pleek91 commented on #752
So I've been messing around with those hooks and monitoring the algolia operation logs/graphs to see how each one affects the # of operations.

One thing I don't understand is every day I have thousands of delete operations. Even though no posts are being deleted. Which is weird.

Couple of questions.

1. What is the difference between the `algolia_should_index_searchable_post` and the `algolia_sh

[2018-05-16 08:37] yratof opened #759 "Displaying hierarchical categories in autocomplete search"
Q: How can we show a breadcrumb of categories in the autocomplete. ie: **Men > Summertime > Jackets** rather than just _Jackets_

### What did you expect to happen?

When Searching for "trousers", the results for the categories should bring back:

- Mens Trousers
- Womens Trousers
- Childrens Trousers

### What happened instead?

Slightly confusing because these are actually supposed to be separat

[2018-05-22 09:32] rayrutjes commented on #734
This issue still isn't solved as quotes still are prefixed with backslashes: `gone\'s \"`

[2018-05-22 10:02] Mamaduka commented on #734
I think [`wp_unslash()`](https://developer.wordpress.org/reference/functions/wp_unslash/) might be the right function for "escaping" in this case.

[2018-05-22 16:08] #734 closed

[2018-05-22 16:08] #751 closed

[2018-05-25 07:45] enkota opened #762 "Ability to use different autocomplete filters for multiple search inputs"
I am manually adding in search input boxes for 2 custom post types `news` and `help` with the following:

`<input type="search" class="search-field" aria-owns="algolia-autocomplete-listbox-0" dir="auto">
`
Is there a parameter I can add which only displays `news` autocomplete results while on the `News` page and only results from `help` while using the search box on the `Help` page?

Thanks!

[2018-05-25 07:58] rayrutjes commented on #762
Hi @enkota ,

Unfortunately, we have no way of currently doing that easily.
Basically the current implementation plugs itself to all `name="s"` input fields and uses the configuration provided on the "algolia search -> autocomplete" page.

You could customize the `templates/autocomplete.php` file to detect what search input you are currently attaching to, and override the sources for the autocompl

[2018-05-25 08:00] rayrutjes commented on #762
Maybe try to duplicate parts of the logic in the autocomplete.php file.
If you start heading in that direction, feel free to send me a gist or something to review. Happily give it a quick look.

[2018-05-25 08:01] enkota commented on #762
Morning @rayrutjes. Thanks for the info, I will give it a shot and let you know how I get on 👍

[2018-05-25 08:08] rayrutjes commented on #762
If you want to ship the changes along with a theme, you can elegantly override the templates/autocomplete.php like explained here: https://community.algolia.com/wordpress/customize-autocomplete.html#algolia-search

[2018-05-25 09:08] enkota commented on #762
@rayrutjes I have discovered the source section inside `autocomplete.php`

Since I am only using 2 indexes I will probably just manually empty these. Would it be possible to enter the index value manually like:

`Would posts_help be entered in the source area?`
[code]
Thanks!

[2018-05-25 10:26] rayrutjes commented on #762
Yes that should do the trick, as long as you don't have the 2 searches on the same page.

[2018-05-25 10:43] enkota commented on #762
Got it working with the following (need to update the dropdown title but should be easy enough to do in the template):

[code]

[2018-05-25 11:46] rayrutjes commented on #762
Awesome! I'm closing this but feel free to open other issues as needed.

[2018-05-25 11:46] #762 closed

[2018-05-28 06:53] Propell1 commented on #759
Having the same problem, multiple categories showing up, having the same name (normal hierarchy for clothing estores men/jackets woman/jackets children/jackets). Looking for a good solution for this.

[2018-05-28 07:41] rafal-sokolowski commented on #759
If anybody could provide a fix for this issue, that would be splendid.

[2018-05-28 07:42] yratof commented on #759
Tried to open a discord about this, but no one is responding - https://discourse.algolia.com/t/displaying-woocommerce-product-categories-with-parents/5275

[2018-05-28 07:50] rayrutjes commented on #759
Hi everyone,

This sounds like a bug, however I don't think we've recently touched the indexing of taxonomies.

@yratof is there any chance you could send a quick email to support@algolia.com by providing us read access to your Algolia account? Please note that my above assumptions were based on my first understanding of your issue. https://www.algolia.com/users/edit#?tab=access-control

This will

[2018-05-28 07:54] yratof commented on #759
Sure thing, I turned it off because I've gone live with the current working version & didn't want to eat too much into the quota. Will enable now & shoot over an email with read access

[2018-05-28 08:35] yratof commented on #759
Everything sent over & reactivated now @rayrutjes, you can see the problem when searching for `jakker`

[2018-05-28 10:14] rayrutjes commented on #759
I took a look and see that:
You indeed have 2 categories named `jakker` with different parent categories though.

By default we only display the term name.

I think the easiest here would be to index the full breadcrumb at indexing time.

You could leverage the `algolia_term_record` filter to override the term's name: https://github.com/algolia/algoliasearch-wordpress/blob/master/includes/indices/

[2018-05-28 10:20] yratof commented on #759
Actually I tried something like this, but I couldn't get it to index, perhaps you can see the problem:

     add_filter( 'algolia_term_product_cat_record', 'get_term_hierarchy', 10, 2 );

     function get_term_hierarchy( $record, $item ) {
        $tax   = $item->taxonomy;
        $terms = get_the_terms( $item->term_id, $tax );
        $ancestors = [];
        // Check we have terms
        if (

[2018-05-28 10:33] rayrutjes commented on #759
You could maybe inspire from this: https://github.com/algolia/algoliasearch-wordpress/blob/master/includes/class-algolia-utils.php#L56

Not sure to see what's wrong with your implementation.

[2018-05-28 15:01] yratof commented on #759
What causes me more problems is displaying this data within the `autocomplete.php` –  There doesn't seem to be any documentation on getting custom fields into this area, and the wrong attribute breaks the whole block

[2018-05-28 16:13] rayrutjes commented on #759
If you are not using the default `name` attribute, you could override that one with the breadcrumb. That way everything should work without you needing to change anything but the indexing.

Could that work in your case?

[2018-05-28 17:02] OriginalUserName commented on #656
Is this problem back ? I'm seeing & rendered as `&amp;` in the autocomplete dropdown :

https://imgur.com/a/mMRDxny

[2018-05-29 12:54] yratof commented on #759
I think it would work, it's not the cleanest solution, but you're right, saving the parent & the child to the name allows me to fake it. It would be a nice feature to incorporate going forward though, as this is a problem with a few of our sites currently

[2018-06-05 11:59] andizer opened #764 "Serve the autocomplete css (algolia-autocomplete.css) minified"
### What did you expect to happen?
The CSS file being served minified.  When served minified, the page will be loaded a little bit faster.

### What happened instead?
The CSS file is not minified.

### How can we reproduce this behaviour?
Open the CSS file served on the frontend and see it is not minified.

Can you provide a link to a page which shows this issue?
N/A

### Technical info
* WordPres

[2018-06-05 12:03] rayrutjes commented on #764
Indeed, the file is not minified: https://github.com/algolia/algoliasearch-wordpress/blob/master/includes/class-algolia-plugin.php#L155

We would need to add that to the build process.

Feel free to submit a PR. Happy to move this forward.

[2018-06-06 04:22] madhavak opened #765 "Algolia Search showing JS expressions in Wordpress"
### What did you expect to happen?
Algolia search results not showing properly.

### What happened instead?
Algolia search showing JS expression like {{each}}  and other /* commented texts. Suggestion-post-content printing below codes.

{{#each this}}{{title}}{{/each}}{{#each this}}{{#each playlist}}{{title}}{{/each}}{{/each}}

### How can we reproduce this behavior?
![image](https://user-images.g

[2018-06-06 09:51] rayrutjes commented on #765
This is a known issue. It arises when using inline minification of JS.
For now, we don't have an easy work around. The best is to disable inline minification of JS

[2018-06-06 11:15] madhavak commented on #765
Our is site requires all the JS and CSS minified so that it can load faster. How do i disable inline minification of Algolia JS? can you please elaborate on this.

[2018-06-06 12:13] rayrutjes commented on #765
In the end the inlined JS of Algolia is pretty limited.
However if you indeed have a lot of other JS inlined it could make sense to minify to reduce the overall size of the page.

You will not be able to only opt-out of the Algolia JS inlining. You need to disable JS inline minification all together.
You should be able to do so from the caching plugin you are using.

Please note that this does not

[2018-06-07 10:15] senlin opened #766 "[WPML integration with Algolia Search] after implementation no results at all"
I followed the instructions on [this page](https://community.algolia.com/wordpress/wpml.html) to try and get singular language results instead of results in both languages. However the result is I get nothing at all.

### What did you expect to happen?
singular language search results

### What happened instead?
no search results whtasoever

### How can we reproduce this behavior?
go [here](https:

[2018-06-07 11:00] rayrutjes commented on #766
Hoi @senlin ,

Could your send a support request to support@algolia.com?
Please make sure to grant us read access to your account.
https://www.algolia.com/users/edit#?tab=access-control

Implementation looks correct on the live website.
Did you try deleting the Algolia indices from Algolia dashboard and re-index everything?

[2018-06-07 13:36] senlin commented on #766
okay, as this is a live site and thus cannot have no search results at all, I have now turned it around:

the live site has the original results in two languages, the staging site has the "solution" implemented and thus no results at all.

[2018-06-08 15:37] senlin commented on #766
After sending the email I haven't heard anything anymore. Can't say that I understand the reason for asking for an email then...

[2018-06-08 16:14] rayrutjes commented on #766
Sorry about the delay @senlin .
I will get to it as soon as possible.
Please bear with me.

[2018-06-11 16:12] senlin commented on #766
issue solved via email support, many thanks for following up!

[2018-06-11 16:12] #766 closed

[2018-06-11 19:55] rayrutjes commented on #766
You are welcome, sorry about the delay @senlin .

[2018-06-13 18:41] ethansmith opened #769 "Set replaceExistingSynonyms to true"
### What did you expect to happen?

I'd love an option to replace existing synonyms every time I update index settings, so that I can utilize the full 100 synonym-rule quota on the free plan.

### What happened instead?

Via the default behavior, the batchSynonyms function sets the replaceExistingSynonyms option to false. This would be fine, except that since my synonym list is greater than half o

[2018-06-14 08:06] #735 closed

[2018-06-20 12:52] daanvosdewael opened #771 "Disable inline JS injected into wp_head"
### What did you expect to happen?
I would like to disable the inline Javascript that get's injected into the `wp_head`. In my project I'm handling all the `instantsearch.js` frontend manually with Webpack.

This is being added with a filter:

https://github.com/algolia/algoliasearch-wordpress/blob/0e9e3efa8ac80294fdd57196e6ecfc4b0492d067/includes/class-algolia-template-loader.php#L19

Normally I

[2018-06-20 13:04] rayrutjes commented on #771
Hello,
Before addressing the issue itself, I'm curious to know if the single variable introduced by `load_algolia_config` is causing you trouble.

[2018-06-20 13:15] daanvosdewael commented on #771
@rayrutjes Not necessarily, it's more a personal preference thing. We are not using Algolia on every page, so only on our search template all the `instantsearch.js` stuff get's loaded. All the config is inside a JS module. It would be a lot cleaner if the global variable `algolia` is not present.

I don't expect that you have to change something on the codebase of the plugin. If I have to take a g

[2018-06-20 13:28] rayrutjes commented on #771
You can retrieve the template loader as follow:

[code]

You need to make sure this code snippet is called after the plugin is initialized and before the header is rendered.

[2018-06-20 14:06] daanvosdewael commented on #771
Ahh yeah, the instance was assigned to a property on the `Algolia_Plugin` class.

Thanks! I got it working with the [wp_loaded](https://codex.wordpress.org/Plugin_API/Action_Reference/wp_loaded) action hook:

[code]

[2018-06-20 14:06] #771 closed

[2018-06-20 14:34] rayrutjes commented on #771
Awesome, thanks for having shared back the actual complete solution. I'm sure this will be useful to others.

[2018-06-25 01:59] haog1 opened #772 "[WPML] algolia wordpress plugin re-index function doesn't pick up the other language taxonomies"
So currently I'm using wmpl to translate my whole site including custom post types and custom taxonomies.

But I can see that algolia plugin works fine with default and custom post types.

However every time when I re-index custom taxonomies, it only re-index one kind of language. For example, if I have english and latin so it is either re-indexing all english taxonomies or all latin version taxon

[2018-06-25 06:04] rayrutjes commented on #772
Hi,

[This line](https://github.com/algolia/algoliasearch-wordpress/blob/master/includes/indices/class-algolia-posts-index.php#L315) is supposed to ensure no filter on languages is applied.

I don't think we have this for taxonomies.

Could you try manually adding `suppress_filters` to taxonomies?

You need to add it in 2 places, here as well: https://github.com/algolia/algoliasearch-wordpress/blo

[2018-06-25 06:27] haog1 commented on #772
@rayrutjes

Thanks for replying.

I might not explain my question clearly. So the issue is no matter which language I switch to in backend, algolia plugin will only upload(re-index) the current language taxonomies. Not like posts, it will upload both languages.

So are you saying that currently this plugin doesn't support taxonomies' wpml?

If so, how would I manually adding `suppress_filters` to

[2018-06-25 06:37] rayrutjes commented on #772
@haog1 ,

Correct me if I'm wrong.
You are using WPML and everything works fine for Posts (including for custom post types).

Regarding taxonomies, everything works fine as well except when you are re-indexing all the taxonomies. In that case it only re-indexes the terms of the current language.

If the above statements are correct, then refer to my previous answer.
The `suppress_filters` WP_Query

[2018-06-25 07:03] haog1 commented on #772
@rayrutjes
I think you're correct. But this confuses me more. Since the template already have set `suppress_filters => true`, so can I add `suppress_filter` again?

[2018-06-29 04:22] haog1 commented on #772
For those who might be interested in, here is the approach how I solved it:
[code]

So basically I created this hook and applied to aloglia's filter hook `algolia_term_{$taxonomy}_record`.

Also, since wpml has a hook called `wpml_post_language_details`, which is for posts. So there is also a hook for taxonomies: `wpml_element_language_details`, which is just what I used

[2018-06-29 04:22] #772 closed

[2018-07-03 20:49] alexandre-geronimo opened #774 "Index only relative link to post"
We deployed Algolia on a Wordpress website which is generated in static on a production environment. Algolia autocomplete works fine on a static version. The issue is that all the permalinks indexed by Algola are using the whole URL including the domain name of dynamic version which is different from the static one. Is there any way to index only the relative part of the contents permalinks ?

[2018-07-04 08:08] rayrutjes commented on #774
As of today we chose to index absolute URLs because this makes it easier to build federated searches.
This has also some drawbacks like the one you are facing.

You can override the url at indexing time by using a hook. Here is an example you can adapt: https://gist.github.com/rayrutjes/494ba3acffdba7cb1da0c23c6f45236b

I hope that helps.

[2018-07-04 10:28] alexandre-geronimo commented on #774
Hi, thanks a lot for your quick answer, it will help :)

[2018-07-09 12:03] jonatanhanson opened #775 "Posts with attached images is being re-added to index when using force deletion."
### What did you expect to happen?
The post should be removed from index.

### What happened instead?
The post is first removed from index, but it gets re-added to index directly after.

### How can we reproduce this behavior?
It only happens to posts that has an attached image and is being deleted with force deletion. Reproduce by deleting a post with either the method: wp_delete_post(1, true); o

[2018-07-09 12:10] jonatanhanson commented on #775
It happens because the method "wp_post_delete" triggers the hook "deleted_post_meta", which is causing the post being re-indexed after it's deleted.

Temporary fix can be found in this commit: https://github.com/helsingborg-stad/algoliasearch-wordpress/commit/395a1e56286308dfb22301829ab69a24a2e800e9

[2018-07-11 12:19] jonatanhanson opened #776 "Filter search results by users role"
We have posts on our site that are restricted to certain user roles. Therefore we need to check on the fly if the current user should see certain search results or not. Is that possible? I have checked in the filters/actions section but couldn't find anything.

[2018-07-17 09:13] cnbjornsen opened #777 "Algolia instantsearch hides results when iOS keyboard is closed"
### What did you expect to happen?
When I search from Safari iOS 11.4 I expect to be able to search. Once I have typed in or narrowed down my search, I would like to close the keyboard in order to make more space to view results.

### What happened instead?
When I have finished my search and press OK to hide the keyboard, Algolia instantsearch will hide as well.
The issue seems to be with instants

[2018-07-19 19:43] cnbjornsen commented on #777
Fixed it from my post in the instantsearch.js repo.
https://github.com/algolia/instantsearch.js/issues/3036
Go there to see the solution. There's a solution for both WooCommerce and Shopify.

[2018-07-19 19:43] #777 closed

[2018-07-20 01:20] digitalcolony opened #778 "Q: Is there a Shortcode for Algolia?"
I'd like to be able to drop the Search into the body of a specific post. Is there a shortcode to do this?

[2018-07-20 09:25] rayrutjes commented on #778
Hello @digitalcolony ,
As of today there is no shortcode to do so.
However, you could probably copy paste the content of the `templates/autocomplete.php` into the body and create a custom implementation.

[2018-07-26 14:28] jacobwise opened #779 "Posts not being removed from index after permanently being deleted from WordPress"
### What did you expect to happen?
Posts to be removed from the index when deleted permanently.

### What happened instead?
Posts are not being deleted.

### How can we reproduce this behavior?
Index posts, delete post permanently, check index and post is still there.

Can you provide a link to a page which shows this issue?

### Technical info
* WordPress version: 4.9.7
* Algolia Search plugin ve

[2018-08-08 13:54] rayrutjes opened #780 "Make autocomplete dropdown better on mobile"
Ensure that the autocomplete menu stays open on mobile when hiding the keyboard.

See [solution here](https://github.com/algolia/algoliasearch-magento/pull/709/files).

[2018-08-09 13:22] nicholasio opened #781 "Check if Algolia PHP API is already present before including it"
### What did you expect to happen?
I'd expect this plugin to only try to load the algolia php client if it isn't included already.
### What happened instead?
The plugin includes the algolia php client without checking for its presence, causing a PHP Fatal error if there are other plugin including the library first. In a ideal world all plugins loading the algolia php client should check for its pr

[2018-08-09 13:49] rayrutjes commented on #781
Hello, thanks for contributing.

Ideally you are right that it would be better to first check if another library exists.
However it is a bit more complex than that as you would also need to check that the versions of the libraries match.

What we should have done is namespace the library from the beginning to a unique name in this plugin.

It is now too late to move away from the current logic tho

[2018-08-09 13:49] #781 closed

[2018-08-09 14:04] nicholasio commented on #781
Can we have at least a filter to let other plugin developers disable loading the php client?

[2018-08-09 14:15] rayrutjes commented on #781
That sounds like a good idea!

[2018-08-20 14:20] kakashigr opened #782 "Custom WP_Query search not working with algolia"
### What did you expect to happen?

We have an infinite scroll plugin that fetches page 2, page 3... etc.
We have enabled "Use Algolia in the Backend" and the search results page works correctly.

The infinite scroll plugin gets some arguments, if we are on a search page, the search term and which page number we are, in order to generate a custom WP_Query with the correct results.
For example:
`

[2018-08-27 07:30] rayrutjes opened #784 "Suppress filters on terms"
Currently, when indexing terms and using WPML, only the terms of the current active language are indexed.
This is because we do not use `suppress_filter` in `get_terms`.

This feature has recently (in 4.8 of WP) been introduced: https://developer.wordpress.org/reference/functions/get_terms/

We should probably leverage that feature in order to simplify updating of terms in multilingual setups.